Repository symfony/ux, pull requests merged in 2024-11, with the labels that each got.

#2211 [TwigComponent] Cache component properties metadata
  src/TwigComponent/config/cache.php
  src/TwigComponent/src/CacheWarmer/TwigComponentCacheWarmer.php
  src/TwigComponent/src/ComponentProperties.php
  src/TwigComponent/src/ComponentRenderer.php
  src/TwigComponent/src/DependencyInjection/Compiler/TwigComponentPass.php
  src/TwigComponent/src/DependencyInjection/TwigComponentExtension.php
Labels: Status: Needs Review, TwigComponent

#2320 [UX] Update the issue template
  .github/ISSUE_TEMPLATE/1-bug_report.md
  .github/ISSUE_TEMPLATE/2-feature_request.md
Labels: Status: Reviewed

#2323 [Site] Test Symfony 7.2 beta
  ux.symfony.com/.symfony.local.yaml
  ux.symfony.com/composer.json
  ux.symfony.com/composer.lock
  ux.symfony.com/config/packages/symfonycasts_sass.yaml
Labels: Status: Reviewed, Site

#2269 Add CI workflow to compute diff between files dist files
  .github/generate-dist-files-size-diff.mjs
  .github/workflows/dist-files-size-diff-comment.yaml
  .github/workflows/dist-files-size-diff.yaml
Labels: Status: Needs Review, DX

#2326 [DX] Add per-package Yarn scripts (build, watch, test, lint, ...)
  bin/build_javascript.js
  bin/build_package.js
  bin/build_styles.js
  bin/rollup.js
  bin/test_package.sh
  biome.json
  package.json
  rollup.config.js
  src/Autocomplete/assets/package.json
  src/Chartjs/assets/package.json
  src/Cropperjs/assets/package.json
  src/Dropzone/assets/package.json
  src/LazyImage/assets/package.json
  src/LiveComponent/assets/dist/Component/plugins/QueryStringPluging.d.ts
  src/LiveComponent/assets/package.json
  src/Map/assets/package.json
  src/Map/src/Bridge/Google/assets/package.json
  src/Map/src/Bridge/Leaflet/assets/package.json
  src/Notify/assets/package.json
  src/React/assets/package.json
  src/StimulusBundle/assets/package.json
  src/Svelte/assets/package.json
  src/Swup/assets/package.json
  src/TogglePassword/assets/package.json
  src/Translator/assets/package.json
  src/Turbo/assets/package.json
  src/Typed/assets/package.json
  src/Vue/assets/package.json
  test/setup.js
  yarn.lock
Labels: Status: Reviewed, DX

#2329 Minor adjustments after #2269
  .github/workflows/dist-files-size-diff-comment.yaml
  .github/workflows/dist-files-size-diff.yaml
Labels: Status: Needs Review

#2330 Test diff size (2)
  .github/workflows/dist-files-size-diff-comment.yaml
  .github/workflows/dist-files-size-diff.yaml
Labels: Status: Needs Review

#2331 Test diff size (3)
  .github/workflows/dist-files-size-diff-comment.yaml
  .github/workflows/dist-files-size-diff.yaml
Labels: Status: Needs Review

#2332 Test diff size (4)
  .github/generate-dist-files-size-diff.mjs
  .github/workflows/dist-files-size-diff.yaml
Labels: Status: Needs Review

#2327 [Site] Use variable webfont
  ux.symfony.com/assets/styles/app/_font.scss
  ux.symfony.com/assets/styles/app/_root.scss
Labels: Status: Reviewed, Site

#2317 [Map] Update documentation
  src/Map/doc/index.rst
Labels: docs, Status: Reviewed, Map

#2316 [TwigComponent] Optimize TwigPreLexer
  src/TwigComponent/src/Twig/TwigPreLexer.php
Labels: Status: Reviewed, TwigComponent

#2339 Update index.rst
  src/Map/doc/index.rst
Labels: Status: Reviewed

#2346 [Site] Update symfony
  ux.symfony.com/composer.lock
Labels: Site

#2348 [Autocomplete][Doc] Mention `preload` can be set to `false`
  src/Autocomplete/doc/index.rst
Labels: Status: Reviewed, Autocomplete

#2343 [TwigComponent] Improve BlockStack performances
  src/TwigComponent/src/BlockStack.php
Labels: Status: Reviewed, TwigComponent, Performance

#2342 [TwigComponent] Fix directory separator in Debug command
  src/TwigComponent/src/Command/TwigComponentDebugCommand.php
Labels: Bug, Status: Reviewed

#2351 [Icons] Prepare lock / warmup optimization
  src/Icons/src/Iconify.php
  src/Icons/tests/Unit/IconifyTest.php
Labels: Status: Reviewed, Icons, Performance

#2355 [Site] fix typo on cookbook index
  ux.symfony.com/templates/cookbook/index.html.twig
Labels: Status: Needs Review, Site

#2356 [Icons] Support aliases in LockIconsCommand
  src/Icons/src/Command/LockIconsCommand.php
  src/Icons/src/DependencyInjection/UXIconsExtension.php
  src/Icons/tests/Fixtures/TestKernel.php
  src/Icons/tests/Integration/Command/LockIconsCommandTest.php
Labels: Status: Reviewed, Feature, Icons

#2352 [Icons] Fetch icons in batch in Import command
  src/Icons/src/Command/ImportIconCommand.php
  src/Icons/src/Iconify.php
  src/Icons/tests/Integration/Command/ImportIconCommandTest.php
  src/Icons/tests/Unit/IconifyTest.php
Labels: Status: Needs Review, Feature, Icons, Performance

#2344 [TwigComponent] Improve ComponentFactory performances
  src/TwigComponent/src/ComponentFactory.php
  src/TwigComponent/src/DependencyInjection/TwigComponentExtension.php
  src/TwigComponent/tests/Integration/ComponentFactoryTest.php
Labels: Status: Reviewed, TwigComponent, Performance

#2350 [Map] Introduce `ux_map.google_maps.default_map_id` configuration
  src/Map/CHANGELOG.md
  src/Map/config/twig_component.php
  src/Map/src/Bridge/Google/CHANGELOG.md
  src/Map/src/Bridge/Google/src/GoogleOptions.php
  src/Map/src/Bridge/Google/src/Renderer/GoogleRenderer.php
  src/Map/src/Bridge/Google/src/Renderer/GoogleRendererFactory.php
  src/Map/src/Bridge/Google/tests/GoogleRendererTest.php
  src/Map/src/Renderer/AbstractRenderer.php
  src/Map/src/UXMapBundle.php
Labels: Status: Reviewed, Feature, Map

#2357 [TwigComponent] Store mount methods in compiler pass
  src/LiveComponent/tests/Integration/LiveComponentHydratorTest.php
  src/TwigComponent/src/Attribute/AsTwigComponent.php
  src/TwigComponent/src/Command/TwigComponentDebugCommand.php
  src/TwigComponent/src/ComponentFactory.php
  src/TwigComponent/src/ComponentMetadata.php
  src/TwigComponent/src/DependencyInjection/Compiler/TwigComponentPass.php
  src/TwigComponent/tests/Fixtures/AcmeComponent/AcmeRootComponent.php
  src/TwigComponent/tests/Fixtures/AcmeComponent/AcmeSubDir/AcmeOtherComponent.php
  src/TwigComponent/tests/Fixtures/Component/Conflict.php
  src/TwigComponent/tests/Fixtures/Component/SubDirectory/ComponentInSubDirectory.php
  src/TwigComponent/tests/Integration/ComponentExtensionTest.php
  src/TwigComponent/tests/Unit/Attribute/AsTwigComponentTest.php
  src/TwigComponent/tests/Unit/ComponentFactoryTest.php
Labels: Status: Reviewed, TwigComponent, Performance

#2358 [Map][Google] Add documentation about `ux_map.google_maps.default_map_id`
  src/Map/doc/index.rst
  src/Map/src/Bridge/Google/README.md
Labels: Status: Reviewed, Map

#2371 Remove duplicate question mark ? in DSN string
  src/Map/src/Bridge/Google/README.md
Labels: Bug, Status: Reviewed

#2373 [Map] Fix Twig Component example
  src/Map/doc/index.rst
Labels: Status: Reviewed, Map

#2360 [Map] Add position and missing closing parenthesis
  src/Map/doc/index.rst
Labels: docs, Status: Reviewed, Map

#2364 [Twig] Cache template class resolution
  src/LiveComponent/tests/Integration/LiveComponentHydratorTest.php
  src/TwigComponent/src/ComponentFactory.php
  src/TwigComponent/src/ComponentRenderer.php
  src/TwigComponent/src/DependencyInjection/TwigComponentExtension.php
Labels: Status: Reviewed, TwigComponent, Performance

#2383 [Svelte][Docs] Fix a broken link
  src/Svelte/doc/index.rst
Labels: docs, Status: Reviewed, Svelte

#2372 [React] Fix broken Link in docs
  src/React/doc/index.rst
Labels: docs, Status: Reviewed

#2298 [Turbo] Support custom TurboStreamResponse actions
  src/Turbo/CHANGELOG.md
  src/Turbo/src/Helper/TurboStream.php
  src/Turbo/src/TurboStreamResponse.php
  src/Turbo/tests/Helper/TurboStreamTest.php
Labels: Status: Reviewed, Feature, Turbo

#2387 Fix some misc doc issues
  src/Map/doc/index.rst
  src/React/doc/index.rst
Labels: docs, Status: Reviewed

#2390 [Translator] Handle W3C locale format on document element
  src/Translator/CHANGELOG.md
  src/Translator/assets/dist/translator_controller.js
  src/Translator/assets/src/translator.ts
  src/Translator/assets/test/translator.test.ts
  src/Translator/doc/index.rst
Labels: Bug, Status: Reviewed, Translator, DX

#2402 [LiveComponent] Fix variable in docs
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Reviewed, LiveComponent

#2398 [Map] Fix typos 'an' should be 'a' in READMEs
  src/Map/src/Bridge/Google/README.md
  src/Map/src/Bridge/Leaflet/README.md
Labels: docs, Status: Reviewed, Map

#2385 [Map] Make UX Map compatible with Live Components (and some internal things)
  src/Map/CHANGELOG.md
  src/Map/assets/dist/abstract_map_controller.d.ts
  src/Map/assets/dist/abstract_map_controller.js
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/assets/test/abstract_map_controller.test.ts
  src/Map/doc/index.rst
  src/Map/src/Bridge/Google/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Google/assets/test/map_controller.test.ts
  src/Map/src/Bridge/Google/src/GoogleOptions.php
  src/Map/src/Bridge/Google/src/Option/FullscreenControlOptions.php
  src/Map/src/Bridge/Google/src/Option/MapTypeControlOptions.php
  src/Map/src/Bridge/Google/src/Option/StreetViewControlOptions.php
  src/Map/src/Bridge/Google/src/Option/ZoomControlOptions.php
  src/Map/src/Bridge/Google/tests/GoogleOptionsTest.php
  src/Map/src/Bridge/Google/tests/GoogleRendererTest.php
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/assets/test/map_controller.test.ts
  src/Map/src/Bridge/Leaflet/src/LeafletOptions.php
  src/Map/src/Bridge/Leaflet/src/Option/TileLayer.php
  src/Map/src/Bridge/Leaflet/tests/LeafletOptionsTest.php
  src/Map/src/Bridge/Leaflet/tests/LeafletRendererTest.php
  src/Map/src/Bridge/Leaflet/tests/Option/TileLayerTest.php
  src/Map/src/Exception/UnableToDenormalizeOptionsException.php
  src/Map/src/Exception/UnableToNormalizeOptionsException.php
  src/Map/src/InfoWindow.php
  src/Map/src/Live/ComponentWithMapTrait.php
  src/Map/src/Map.php
  src/Map/src/MapOptionsInterface.php
  src/Map/src/MapOptionsNormalizer.php
  src/Map/src/Marker.php
  src/Map/src/Polygon.php
  src/Map/src/Renderer/AbstractRenderer.php
  src/Map/tests/DummyOptions.php
  src/Map/tests/MapFactoryTest.php
  src/Map/tests/MapOptionsNormalizerTest.php
  src/Map/tests/MapTest.php
Labels: Status: Reviewed, Feature, Map

#2382 [Autocomplete] Allow configuring TomSelect’s `labelField`
  src/Autocomplete/CHANGELOG.md
  src/Autocomplete/assets/dist/controller.js
  src/Autocomplete/assets/src/controller.ts
Labels: Status: Reviewed, Feature, Autocomplete

#2401 [LiveComponent] Fix checkbox/radio value matching
  src/LiveComponent/assets/dist/live_controller.js
  src/LiveComponent/assets/src/dom_utils.ts
Labels: Bug, Status: Reviewed, LiveComponent

#2328 [TwigComponent] Ignore "nested" for Alpine & Vue attributes
  src/TwigComponent/src/ComponentAttributes.php
  src/TwigComponent/tests/Fixtures/templates/components/PrefixedAttributes.html.twig
  src/TwigComponent/tests/Integration/ComponentExtensionTest.php
  src/TwigComponent/tests/Unit/ComponentAttributesTest.php
Labels: Bug, Status: Reviewed, TwigComponent, Performance

#2399 [LiveComponent] Refactor elementBelongsToThisComponent
  src/LiveComponent/assets/dist/live_controller.js
  src/LiveComponent/assets/src/dom_utils.ts
  src/LiveComponent/assets/test/dom_utils.test.ts
Labels: Bug, Status: Reviewed, LiveComponent

#2408 [Docs] Add CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: docs, Status: Reviewed

#2406 [Map] Fix and improve TypeScript types, refactor same logic into dedicated methods (to reduce file size)
  src/Map/assets/dist/abstract_map_controller.d.ts
  src/Map/assets/dist/abstract_map_controller.js
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/assets/test/abstract_map_controller.test.ts
  src/Map/src/Bridge/Google/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
Labels: Status: Reviewed, Map

#2410 [Icons] use dedicated cache pool
  src/Icons/config/iconify.php
  src/Icons/config/services.php
  src/Icons/src/Iconify.php
  src/Icons/src/Registry/CacheIconRegistry.php
Labels: Status: Reviewed

#2407 [Turbo] Add support for providing multiple mercure topics to `turbo_stream_listen`
  src/Turbo/CHANGELOG.md
  src/Turbo/assets/dist/turbo_stream_controller.d.ts
  src/Turbo/assets/dist/turbo_stream_controller.js
  src/Turbo/assets/src/turbo_stream_controller.ts
  src/Turbo/src/Bridge/Mercure/TopicSet.php
  src/Turbo/src/Bridge/Mercure/TurboStreamListenRenderer.php
  src/Turbo/src/Twig/TwigExtension.php
  src/Turbo/tests/Bridge/Mercure/TurboStreamListenRendererTest.php
Labels: Status: Reviewed, Feature, Turbo

#2403 [LiveComponent] fix required select not initialized
  src/LiveComponent/src/ComponentWithFormTrait.php
  src/LiveComponent/tests/Fixtures/Factory/CategoryFixtureEntityFactory.php
  src/LiveComponent/tests/Fixtures/Form/FormWithManyDifferentFieldsType.php
  src/LiveComponent/tests/Functional/Form/ComponentWithFormTest.php
  src/LiveComponent/tests/Functional/Test/InteractsWithLiveComponentsTest.php
  src/LiveComponent/tests/Unit/Form/ComponentWithFormTest.php
Labels: Bug, Status: Reviewed, Feature

#1825 [Autocomplete] Fix grouped options order
  src/Autocomplete/assets/dist/controller.js
  src/Autocomplete/assets/src/controller.ts
Labels: Bug, Status: Reviewed, Autocomplete

#2411 [Site] Update Symfony 7.2
  ux.symfony.com/composer.lock
Labels: Status: Needs Review, Site
