Repository symfony/ux, pull requests merged in 2024-12, with the labels that each got.

#2412 [Maps] Fix documentations codeblocks for the LiveComponent integration
  src/Map/doc/index.rst
Labels: docs, Status: Needs Review

#2418 [Autocomplete] Added polish translation for "Add ..." message
  src/Autocomplete/translations/AutocompleteBundle.pl.php
Labels: Status: Needs Review, Autocomplete

#2416 [Icons] Fix LockIconsCommand definition when Iconify disabled
  src/Icons/src/DependencyInjection/UXIconsExtension.php
Labels: Bug, Status: Reviewed, Icons

#2420 [Map] Fix default values of Stimulus Map Controller
  src/Map/assets/dist/abstract_map_controller.d.ts
  src/Map/assets/dist/abstract_map_controller.js
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
Labels: Bug, Status: Reviewed, Map

#2424 [Icons] fix small typo in Icons docs
  src/Icons/doc/index.rst
Labels: docs, Status: Reviewed, Icons

#2428 [Meta] Drop format, lint, check-format and check-lint commands, replace them with check and ci commands
  .github/workflows/test.yaml
  CONTRIBUTING.md
  package.json
  src/Autocomplete/assets/package.json
  src/Chartjs/assets/package.json
  src/Cropperjs/assets/package.json
  src/Dropzone/assets/package.json
  src/LazyImage/assets/package.json
  src/LiveComponent/assets/package.json
  src/Map/assets/package.json
  src/Map/src/Bridge/Google/assets/package.json
  src/Map/src/Bridge/Leaflet/assets/package.json
  src/Notify/assets/package.json
  src/React/assets/package.json
  src/StimulusBundle/assets/package.json
  src/Svelte/assets/package.json
  src/Swup/assets/package.json
  src/TogglePassword/assets/package.json
  src/Translator/assets/package.json
  src/Turbo/assets/package.json
  src/Typed/assets/package.json
  src/Vue/assets/package.json
Labels: Status: Needs Review

#2430 [Doc] remove a swup mention for translator
  src/StimulusBundle/doc/index.rst
Labels: Status: Reviewed

#2431 Update [Live] Docs for PostHydrate, PreDehydrate & PreReRender
  src/LiveComponent/doc/index.rst
Labels: docs, LiveComponent

#2429 [Meta] Replace CleanCSS by LightningCSS
  bin/build_package.js
  package.json
  src/Dropzone/assets/dist/style.min.css
  src/LiveComponent/assets/dist/live.min.css
  src/TogglePassword/assets/dist/style.min.css
  yarn.lock
Labels: Status: Needs Review

#2426 [LiveComponent] Handle loose comparison with empty placeholder
  src/LiveComponent/src/ComponentWithFormTrait.php
  src/LiveComponent/tests/Fixtures/Form/FormWithManyDifferentFieldsType.php
  src/LiveComponent/tests/Functional/Form/ComponentWithFormTest.php
  src/LiveComponent/tests/Unit/Form/ComponentWithFormTest.php
Labels: Bug, Status: Reviewed, LiveComponent

#2384 [TwigComponent] Add tip about `make:twig-component` command
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed

#2309 Show a visible link to the docs of each package
  ux.symfony.com/assets/styles/components/_DocsLink.scss
  ux.symfony.com/src/Twig/Components/DocsLink.php
  ux.symfony.com/templates/components/DocsLink.html.twig
  ux.symfony.com/templates/components/Package/PackageHeader.html.twig
Labels: Status: Reviewed, Site

#2432 [Doc] Mention how to work with Twig macros in Twig Components
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Needs Review, TwigComponent

#2436 [Site] Add BlueSky
  ux.symfony.com/assets/icons/bluesky.svg
  ux.symfony.com/assets/styles/sections/_header.scss
  ux.symfony.com/assets/styles/sections/_nav.scss
  ux.symfony.com/public/.well-known/atproto-did
  ux.symfony.com/templates/_header.html.twig
  ux.symfony.com/templates/support.html.twig
Labels: Status: Reviewed, Site

#2441 [Site] Update deps
  ux.symfony.com/composer.json
  ux.symfony.com/composer.lock
Labels: Status: Needs Review, Site

#2443 [LiveComponent] Update CSRF docs
  src/LiveComponent/doc/index.rst
Labels: docs, LiveComponent

#2435 [LiveComponent] "Hooks: Handle Component Behavior" spacing issue in docs
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Reviewed, LiveComponent

#2444 [TwigComponent] Update using macro docs
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#2459 [TwigComponent] Minor doc syntax fix
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#2456 [TwigComponent] Document about unwanted behavior with `ExposeInTemplate` and computed methods
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#1505 [Autocomplete] Reset TomSelect when updating controller attributes
  src/Autocomplete/CHANGELOG.md
  src/Autocomplete/assets/dist/controller.d.ts
  src/Autocomplete/assets/dist/controller.js
  src/Autocomplete/assets/src/controller.ts
  src/Autocomplete/assets/test/controller.test.ts
Labels: Status: Needs Review

#2465 [Site] Visual improvments on IconModal
  ux.symfony.com/assets/styles/components/_IconModal.scss
  ux.symfony.com/assets/styles/components/_Tabs.scss
Labels: Status: Reviewed, Site

#2458 [Autocomplete] Deprecate `ExtraLazyChoiceLoader` in favor of `LazyChoiceLoader`
  src/Autocomplete/CHANGELOG.md
  src/Autocomplete/src/Form/BaseEntityAutocompleteType.php
  src/Autocomplete/src/Form/ChoiceList/Loader/ExtraLazyChoiceLoader.php
Labels: Status: Reviewed, Feature, Autocomplete

#2461 [LiveComponent] Check secret is not empty + add [SensitiveParameter]
  src/LiveComponent/src/LiveComponentHydrator.php
  src/LiveComponent/src/Util/FingerprintCalculator.php
  src/LiveComponent/tests/Unit/LiveComponentHydratorTest.php
  src/LiveComponent/tests/Unit/Util/FingerprintCalculatorTest.php
Labels: Bug, Status: Reviewed, Security, LiveComponent

#2462 [LiveComponent] Allow configuring secret for fingerprints and checksums
  src/LiveComponent/CHANGELOG.md
  src/LiveComponent/src/DependencyInjection/LiveComponentExtension.php
  src/LiveComponent/tests/Unit/DependencyInjection/LiveComponentConfigurationTest.php
  src/LiveComponent/tests/Unit/DependencyInjection/LiveComponentExtensionTest.php
Labels: Status: Reviewed, Feature, Security, LiveComponent

#2451 [LiveComponent] Use container.build_hash instead of kernel.secret in CacheWarmer
  src/LiveComponent/src/DependencyInjection/LiveComponentExtension.php
Labels: Bug, Status: Reviewed

#2452 [TwigComponent] Fix typo in docs
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed

#2440 [Autocomplete] Fix Incompatibility filter_query and max_results (doc)
  src/Autocomplete/doc/index.rst
Labels: docs, Status: Reviewed, Autocomplete

#2467 [Icons] Fix aliases support when fetching multiples icons with Iconify
  src/Icons/src/Iconify.php
  src/Icons/tests/Unit/IconifyTest.php
Labels: Bug, Status: Reviewed, Icons
