Repository symfony/ux, pull requests merged in 2024-09, with the labels that each got.

#2116 [Site] Fix icon on Twig Component
  ux.symfony.com/src/Twig/Alert.php
  ux.symfony.com/templates/components/Alert.html.twig
  ux.symfony.com/templates/ux_packages/twig_component.html.twig
Labels: Status: Needs Review, Site

#2102 [TwigComponent] Add notice about needing `phpdocumentor/reflection-docblock`
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#2125 [Doc] Add some explanation about mixing Twig and HTML syntax in nested components
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed

#2132 [Site] Fix icon modal
  ux.symfony.com/assets/controllers/icon-modal-controller.js
  ux.symfony.com/assets/styles/components/_IconModal.scss
Labels: Status: Reviewed, Site

#2108 [Autocomplete] Translate "Add ..." text
  src/Autocomplete/CHANGELOG.md
  src/Autocomplete/assets/dist/controller.d.ts
  src/Autocomplete/assets/dist/controller.js
  src/Autocomplete/assets/src/controller.ts
  src/Autocomplete/src/Form/AutocompleteChoiceTypeExtension.php
  src/Autocomplete/translations/AutocompleteBundle.ar.php
  src/Autocomplete/translations/AutocompleteBundle.bg.php
  src/Autocomplete/translations/AutocompleteBundle.ca.php
  src/Autocomplete/translations/AutocompleteBundle.cs.php
  src/Autocomplete/translations/AutocompleteBundle.da.php
  src/Autocomplete/translations/AutocompleteBundle.de.php
  src/Autocomplete/translations/AutocompleteBundle.el.php
  src/Autocomplete/translations/AutocompleteBundle.en.php
  src/Autocomplete/translations/AutocompleteBundle.es.php
  src/Autocomplete/translations/AutocompleteBundle.eu.php
  src/Autocomplete/translations/AutocompleteBundle.fa.php
  src/Autocomplete/translations/AutocompleteBundle.fi.php
  src/Autocomplete/translations/AutocompleteBundle.fr.php
  src/Autocomplete/translations/AutocompleteBundle.gl.php
  src/Autocomplete/translations/AutocompleteBundle.hr.php
  src/Autocomplete/translations/AutocompleteBundle.hu.php
  src/Autocomplete/translations/AutocompleteBundle.id.php
  src/Autocomplete/translations/AutocompleteBundle.it.php
  src/Autocomplete/translations/AutocompleteBundle.lb.php
  src/Autocomplete/translations/AutocompleteBundle.lt.php
  src/Autocomplete/translations/AutocompleteBundle.nl.php
  src/Autocomplete/translations/AutocompleteBundle.pl.php
  src/Autocomplete/translations/AutocompleteBundle.pt.php
  src/Autocomplete/translations/AutocompleteBundle.pt_BR.php
  src/Autocomplete/translations/AutocompleteBundle.ro.php
  src/Autocomplete/translations/AutocompleteBundle.ru.php
  src/Autocomplete/translations/AutocompleteBundle.sk.php
  src/Autocomplete/translations/AutocompleteBundle.sl.php
  src/Autocomplete/translations/AutocompleteBundle.sr_RS.php
  src/Autocomplete/translations/AutocompleteBundle.sv.php
  src/Autocomplete/translations/AutocompleteBundle.tr.php
  src/Autocomplete/translations/AutocompleteBundle.uk.php
  src/Autocomplete/translations/AutocompleteBundle.zh_CN.php
Labels: Status: Reviewed, Feature, Autocomplete

#2135 Update _meta.html.twig
  ux.symfony.com/templates/_meta.html.twig
Labels: Status: Reviewed

#2133 [Site] composer update
  ux.symfony.com/composer.lock
Labels: Status: Reviewed, Site

#2127 [Icons] Icon aliases
  src/Icons/CHANGELOG.md
  src/Icons/config/services.php
  src/Icons/doc/index.rst
  src/Icons/src/DependencyInjection/UXIconsExtension.php
  src/Icons/src/IconRenderer.php
  src/Icons/tests/Unit/IconRendererTest.php
Labels: Status: Reviewed, Feature, Icons, DX

#2138 [Map] Adjust changelogs and fix `render_map` deprecated version
  src/Map/CHANGELOG.md
  src/Map/src/Bridge/Google/CHANGELOG.md
  src/Map/src/Bridge/Leaflet/CHANGELOG.md
  src/Map/src/Twig/MapExtension.php
Labels: Status: Reviewed, Map

#2145 [Icons] Fix issues found by DOCtor-RST
  src/Icons/doc/index.rst
Labels: Status: Needs Review, Icons

#2143 [Site] Update Twig 3.14
  ux.symfony.com/composer.lock
Labels: Status: Reviewed, Site

#2146 Upgrade Vitest, use a real browser for Map Bridges tests
  .github/workflows/test.yaml
  package.json
  src/Chartjs/assets/vitest.config.mjs
  src/Map/src/Bridge/Google/assets/package.json
  src/Map/src/Bridge/Google/assets/vitest.config.js
  src/Map/src/Bridge/Google/assets/vitest.config.mjs
  src/Map/src/Bridge/Leaflet/assets/package.json
  src/Map/src/Bridge/Leaflet/assets/vitest.config.js
  src/Map/src/Bridge/Leaflet/assets/vitest.config.mjs
  src/React/assets/vitest.config.mjs
  src/Svelte/assets/vitest.config.mjs
  src/Turbo/assets/vitest.config.mjs
  src/Vue/assets/vitest.config.mjs
  vitest.config.mjs
  yarn.lock
Labels: Status: Reviewed

#2144 [TwigComponent] Deprecate `cva` twig function
  src/Map/src/Twig/MapExtension.php
  src/TwigComponent/CHANGELOG.md
  src/TwigComponent/doc/index.rst
  src/TwigComponent/src/CVA.php
  src/TwigComponent/src/Twig/ComponentExtension.php
  src/TwigComponent/tests/Fixtures/templates/components/Alert.html.twig
  src/TwigComponent/tests/Integration/ComponentExtensionTest.php
  src/TwigComponent/tests/Unit/CVATest.php
Labels: Status: Reviewed, TwigComponent

#2022 [LiveComponent] Update CSRF token after component request
  src/LiveComponent/assets/dist/Backend/Backend.d.ts
  src/LiveComponent/assets/dist/Backend/RequestBuilder.d.ts
  src/LiveComponent/assets/dist/live_controller.js
  src/LiveComponent/assets/src/Backend/Backend.ts
  src/LiveComponent/assets/src/Backend/RequestBuilder.ts
  src/LiveComponent/assets/src/Component/index.ts
  src/LiveComponent/assets/test/controller/render.test.ts
  src/LiveComponent/assets/test/tools.ts
Labels: Status: Reviewed, Feature, LiveComponent

#2149 [Icons] Add support for int/float attribute to `ux_icon` function
  src/Icons/CHANGELOG.md
  src/Icons/src/Icon.php
  src/Icons/tests/Fixtures/templates/template1.html.twig
  src/Icons/tests/Integration/RenderIconsInTwigTest.php
Labels: Bug, Status: Reviewed, Icons

#2163 [Icons] add versionadded for Icon Aliases to doc
  src/Icons/doc/index.rst
Labels: Status: Reviewed, Icons

#2164 [Site] Complete migration to UX Icons
  ux.symfony.com/cookbook/component_architecture.md
  ux.symfony.com/src/UX/IconRenderer.php
  ux.symfony.com/templates/_banner.html.twig
  ux.symfony.com/templates/_footer.html.twig
  ux.symfony.com/templates/_header.html.twig
  ux.symfony.com/templates/components/Browser.html.twig
  ux.symfony.com/templates/components/ChangelogItem.html.twig
  ux.symfony.com/templates/components/Code/CodeBlock.html.twig
  ux.symfony.com/templates/components/Code/CodeBlockButtons.html.twig
  ux.symfony.com/templates/components/Code/CodeLine.html.twig
  ux.symfony.com/templates/components/DocsLink.html.twig
  ux.symfony.com/templates/components/FoodVote.html.twig
  ux.symfony.com/templates/components/Icon.html.twig
  ux.symfony.com/templates/components/Icon/IconModal.html.twig
  ux.symfony.com/templates/components/Icon/IconSearch.html.twig
  ux.symfony.com/templates/components/InlineEditFood.html.twig
  ux.symfony.com/templates/components/InvoiceCreator.html.twig
  ux.symfony.com/templates/components/InvoiceCreatorLineItem.html.twig
  ux.symfony.com/templates/components/Package/PackageBox.html.twig
  ux.symfony.com/templates/components/TerminalCommand.html.twig
  ux.symfony.com/templates/components/ThemeSwitcher.html.twig
  ux.symfony.com/templates/demos/live_memory/components/LiveMemory/ThemeSwitch.html.twig
  ux.symfony.com/templates/demos/live_memory/index.html.twig
  ux.symfony.com/templates/main/_file_tree.html.twig
  ux.symfony.com/templates/main/homepage.html.twig
  ux.symfony.com/templates/support.html.twig
  ux.symfony.com/templates/ux_packages/lazy_image.html.twig
  ux.symfony.com/templates/ux_packages/live_component.html.twig
  ux.symfony.com/templates/ux_packages/swup.html.twig
  ux.symfony.com/templates/ux_packages/turbo.html.twig
  ux.symfony.com/templates/ux_packages/turbo/_chat_message_count.html.twig
  ux.symfony.com/templates/ux_packages/turbo/add_todo.html.twig
  ux.symfony.com/templates/ux_packages/turbo/todos.html.twig
Labels: Status: Needs Review, Site

#2165 [Site] Update deps
  ux.symfony.com/composer.json
  ux.symfony.com/composer.lock
  ux.symfony.com/tests/Functional/LiveComponentDemosTest.php
Labels: Status: Needs Review, Site

#2169 [CI] Add tests on PHP8.4
  .github/workflows/test.yaml
  src/LiveComponent/tests/Fixtures/Serializer/Entity2Normalizer.php
  src/LiveComponent/tests/Fixtures/Serializer/MoneyNormalizer.php
Labels: Status: Reviewed

#2170 [TwigComponent] Update index.rst
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#2168 [TwigComponent] Use a RuntimeExtension
  src/TwigComponent/src/DependencyInjection/TwigComponentExtension.php
  src/TwigComponent/src/Twig/ComponentExtension.php
  src/TwigComponent/src/Twig/ComponentNode.php
  src/TwigComponent/src/Twig/ComponentRuntime.php
  src/TwigComponent/src/Twig/PropsTokenParser.php
  src/TwigComponent/src/Twig/TwigEnvironmentConfigurator.php
Labels: Status: Reviewed, TwigComponent

#2166 [Site] Clean templates & css
  ux.symfony.com/assets/styles/app.scss
  ux.symfony.com/templates/demos/live_component/invoice.html.twig
  ux.symfony.com/templates/demos/live_component/product_form.html.twig
Labels: Status: Reviewed, Site

#2167 [TwigComponent] Optimize the ComponentLoggerListener
  src/TwigComponent/composer.json
  src/TwigComponent/config/debug.php
  src/TwigComponent/src/DataCollector/TwigComponentDataCollector.php
  src/TwigComponent/src/EventListener/TwigComponentLoggerListener.php
  src/TwigComponent/tests/Unit/EventListener/TwigComponentLoggerListenerTest.php
Labels: Status: Reviewed, TwigComponent, DX

#2173 [Site] Fix deprecations and remove debug block
  ux.symfony.com/config/packages/doctrine.yaml
  ux.symfony.com/config/packages/zenstruck_foundry.yaml
  ux.symfony.com/templates/main/homepage.html.twig
Labels: Status: Needs Review, Site

#2117 [Map] Render map from Twig with `ux_map()` and `<twig:ux:map />`
  src/Map/CHANGELOG.md
  src/Map/composer.json
  src/Map/config/services.php
  src/Map/config/twig_component.php
  src/Map/src/InfoWindow.php
  src/Map/src/Map.php
  src/Map/src/Marker.php
  src/Map/src/Point.php
  src/Map/src/Twig/MapExtension.php
  src/Map/src/Twig/MapRuntime.php
  src/Map/src/Twig/UXMapComponent.php
  src/Map/src/Twig/UXMapComponentListener.php
  src/Map/src/UXMapBundle.php
  src/Map/tests/Kernel/TwigComponentKernel.php
  src/Map/tests/MapFactoryTest.php
  src/Map/tests/Twig/MapComponentTest.php
  src/Map/tests/Twig/MapExtensionTest.php
Labels: Status: Reviewed, Feature, Map

#2156 [Icons] Configure icon sets: path, alias & icon attributes
  src/Icons/config/services.php
  src/Icons/src/DependencyInjection/UXIconsExtension.php
  src/Icons/src/IconRenderer.php
  src/Icons/src/Registry/IconifyOnDemandRegistry.php
  src/Icons/src/Registry/LocalSvgIconRegistry.php
  src/Icons/tests/Fixtures/TestKernel.php
  src/Icons/tests/Fixtures/icons/a/icon.svg
  src/Icons/tests/Fixtures/images/a/b/icon.svg
  src/Icons/tests/Fixtures/images/a/icon.svg
  src/Icons/tests/Fixtures/images/ab/icon.svg
  src/Icons/tests/Fixtures/images/icon.svg
  src/Icons/tests/Unit/IconRendererTest.php
  src/Icons/tests/Unit/Registry/IconifyOnDemandRegistryTest.php
  src/Icons/tests/Unit/Registry/LocalSvgIconRegistryTest.php
Labels: Status: Reviewed, Feature, Icons

#2181 [TwigComponent] Fix HTML in the profiler panel
  src/TwigComponent/templates/Collector/twig_component.html.twig
Labels: Bug, Status: Reviewed

#2187 Improve title tag
  ux.symfony.com/templates/base.html.twig
Labels: Bug, Status: Reviewed

#2190 [Site] Fix tooltips positioning on FileTree component
  ux.symfony.com/assets/styles/components/_FileTree.scss
  ux.symfony.com/templates/main/_file_tree.html.twig
Labels: Status: Reviewed, Site

#2188 [Dropzone] change physical link to the default style file
  src/Dropzone/doc/index.rst
Labels: docs, Status: Reviewed, Dropzone

#2185 [Translator] Option to throw an exception instead of returning the message as is when the message is not found.
  src/Translator/CHANGELOG.md
  src/Translator/assets/dist/translator.d.ts
  src/Translator/assets/dist/translator_controller.js
  src/Translator/assets/src/translator.ts
  src/Translator/assets/test/translator.test.ts
  src/Translator/doc/index.rst
Labels: Status: Reviewed, Feature, Translator

#2193 Fixed typo in links to Symfony UX repo
  src/Map/doc/index.rst
Labels: Status: Needs Review

#2198 [Doc] Fix some links in UX Map docs
  src/Map/doc/index.rst
Labels: Bug, docs, Status: Needs Review

#2199 [Map] Fix Google/Leaflet bridges when using Webpack Encore
  src/Map/CHANGELOG.md
  src/Map/assets/package.json
  src/Map/src/Bridge/Google/CHANGELOG.md
  src/Map/src/Bridge/Google/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/package.json
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Google/assets/vitest.config.mjs
  src/Map/src/Bridge/Leaflet/CHANGELOG.md
  src/Map/src/Bridge/Leaflet/README.md
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/package.json
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/assets/vitest.config.mjs
  ux.symfony.com/importmap.php
Labels: Bug, Status: Reviewed, Map

#2162 [Map] Adding polygons to google and leaflet + info window
  src/Map/CHANGELOG.md
  src/Map/assets/dist/abstract_map_controller.d.ts
  src/Map/assets/dist/abstract_map_controller.js
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/assets/test/abstract_map_controller.test.ts
  src/Map/doc/index.rst
  src/Map/src/Bridge/Google/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Google/assets/test/map_controller.test.ts
  src/Map/src/Bridge/Google/tests/GoogleRendererTest.php
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/assets/test/map_controller.test.ts
  src/Map/src/Bridge/Leaflet/tests/LeafletRendererTest.php
  src/Map/src/Map.php
  src/Map/src/Polygon.php
  src/Map/src/Twig/MapRuntime.php
  src/Map/src/Twig/UXMapComponent.php
  src/Map/src/Twig/UXMapComponentListener.php
  src/Map/tests/MapFactoryTest.php
  src/Map/tests/MapTest.php
Labels: Status: Needs Review, Feature, Map

#2200 [LiveComponent] Fix DeferLiveComponentSubscriber service definition
  src/LiveComponent/src/DependencyInjection/LiveComponentExtension.php
Labels: Status: Needs Review, LiveComponent

#2180 [StimulusBundle] Improve `StimulusAttributes` rendering performances by switching to `html` escaping strategy
  src/Chartjs/tests/Twig/ChartExtensionTest.php
  src/LiveComponent/tests/Unit/Twig/LiveComponentRuntimeTest.php
  src/Notify/tests/Twig/NotifyRuntimeTest.php
  src/React/tests/Twig/ReactComponentExtensionTest.php
  src/StimulusBundle/src/Dto/StimulusAttributes.php
  src/StimulusBundle/tests/Dto/StimulusAttributesTest.php
  src/StimulusBundle/tests/Twig/StimulusTwigExtensionTest.php
  src/Svelte/tests/Twig/SvelteComponentExtensionTest.php
  src/TwigComponent/tests/Unit/ComponentAttributesTest.php
  src/Vue/tests/Twig/VueComponentExtensionTest.php
Labels: Status: Reviewed, StimulusBundle, Performance

#2201 [TwigComponent] Optimize ComponentFactory
  src/TwigComponent/src/ComponentFactory.php
  src/TwigComponent/src/ComponentMetadata.php
  src/TwigComponent/tests/Unit/ComponentFactoryTest.php
Labels: Status: Reviewed, TwigComponent

#2203 [Site] Fix deprecated function call
  ux.symfony.com/templates/ux_packages/map.html.twig
Labels: Status: Reviewed, Site

#2207 [Map] Explicitly require StimulusBundle in Bridges, fix tests
  src/Map/src/Bridge/Google/composer.json
  src/Map/src/Bridge/Google/tests/GoogleRendererTest.php
  src/Map/src/Bridge/Leaflet/composer.json
  src/Map/src/Bridge/Leaflet/tests/LeafletRendererTest.php
Labels: Status: Needs Review, Map

#2206 [Translator] Many performance improvements on the cache warming
  src/Translator/src/Intl/ErrorKind.php
  src/Translator/src/Intl/IntlMessageParser.php
  src/Translator/src/Intl/Location.php
  src/Translator/src/Intl/Position.php
  src/Translator/src/Intl/SkeletonType.php
  src/Translator/src/Intl/Type.php
  src/Translator/src/Intl/Utils.php
  src/Translator/src/MessageParameters/Extractor/ExtractorInterface.php
  src/Translator/src/MessageParameters/Extractor/IntlMessageParametersExtractor.php
  src/Translator/src/MessageParameters/Extractor/MessageParametersExtractor.php
  src/Translator/src/MessageParameters/Printer/TypeScriptMessageParametersPrinter.php
  src/Translator/src/TranslationsDumper.php
  src/Translator/tests/TranslationsDumperTest.php
Labels: Status: Reviewed, Translator, Performance

#2213 [Doc] Fix an example in Twig Components doc
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed

#2210 [TwigComponent] Fix ux:icon & ux:map renders
  src/Icons/composer.json
  src/Icons/config/twig_component.php
  src/Icons/src/Twig/UXIconComponentListener.php
  src/Icons/src/Twig/UXIconRuntime.php
  src/Map/composer.json
  src/Map/config/twig_component.php
  src/Map/src/Twig/MapRuntime.php
  src/Map/src/Twig/UXMapComponentListener.php
  src/TwigComponent/src/DependencyInjection/TwigComponentExtension.php
  src/TwigComponent/src/Twig/ComponentRuntime.php
Labels: Status: Reviewed, TwigComponent

#2191 [Site] Clean demo names / tpl
  ux.symfony.com/assets/styles/app.scss
  ux.symfony.com/assets/styles/components/_Button.scss
  ux.symfony.com/assets/styles/sections/_hero.scss
  ux.symfony.com/src/Controller/Demo/LiveDemoController.php
  ux.symfony.com/src/Controller/Demo/LiveMemoryController.php
  ux.symfony.com/src/Model/Demo.php
  ux.symfony.com/src/Model/LiveDemo.php
  ux.symfony.com/src/Service/LiveDemoRepository.php
  ux.symfony.com/src/Twig/Components/Badge/GithubBadge.php
  ux.symfony.com/src/Twig/Components/Badge/PackageBadge.php
  ux.symfony.com/templates/components/UploadFiles.html.twig
  ux.symfony.com/templates/cookbook/show.html.twig
  ux.symfony.com/templates/demos/live_demo.html.twig
  ux.symfony.com/templates/main/homepage.html.twig
Labels: Status: Needs Review, Site

#2219 Update some dependencies to fix some issues from Dependabot
  package.json
  src/React/assets/dist/render_controller.js
  ux.symfony.com/package.json
  ux.symfony.com/yarn.lock
  yarn.lock
Labels: Bug, Status: Reviewed, Feature

#2221 [Swup] For Swup's dev dependencies exclusion from our yarn.lock
  package.json
  yarn.lock
Labels: Status: Needs Review, Swup

#2222 Migrate from Yarn Classic to Yarn Berry
  .gitattributes
  .github/workflows/test-turbo.yml
  .github/workflows/test.yaml
  .gitignore
  .yarnrc.yml
  bin/run-vitest-all.sh
  biome.json
  package.json
  src/Cropperjs/assets/package.json
  src/Swup/assets/package.json
  src/Turbo/assets/package.json
  src/Turbo/tests/app/package.json
  src/Typed/assets/package.json
  yarn.lock
Labels: Status: Needs Review

#2159 [StimulusBundle] Normalize Stimulus controller name in event name
  src/StimulusBundle/CHANGELOG.md
  src/StimulusBundle/src/Dto/StimulusAttributes.php
  src/StimulusBundle/tests/Dto/StimulusAttributesTest.php
Labels: Bug, Status: Needs Review, StimulusBundle

#2216 autocomplete: add czech and slovak translation for "Add ..." message
  src/Autocomplete/translations/AutocompleteBundle.cs.php
  src/Autocomplete/translations/AutocompleteBundle.sk.php
Labels: Status: Reviewed

#2220 [TwigComponent] Fix internal variables are dispatched
  src/TwigComponent/src/ComponentRenderer.php
Labels: Status: Reviewed, TwigComponent
