Repository symfony/ux, pull requests merged in 2025-01, with the labels that each got.

#1944 [Chart.js] Listen to Stimulus `disconnect` event to destroy the chart
  src/Chartjs/CHANGELOG.md
  src/Chartjs/assets/dist/controller.d.ts
  src/Chartjs/assets/dist/controller.js
  src/Chartjs/assets/src/controller.ts
Labels: Bug, Status: Reviewed

#2475 [TwigComponent] Remove word in documentation
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed

#2480 [LiveComponent] Document `make:twig-component`
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Reviewed, LiveComponent

#2476 [Docs][LiveComponent] Add a link label in doc
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Reviewed, LiveComponent

#2472 [DX] Mention Doctor Rst in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs, Status: Reviewed, DX

#2471 [TwigComponent] Various fix / cleans in documentation
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#2489 Update site banner
  ux.symfony.com/assets/styles/components/_Banner.scss
  ux.symfony.com/assets/styles/sections/_nav.scss
  ux.symfony.com/templates/_banner.html.twig
  ux.symfony.com/templates/ux_packages/chartjs.html.twig
  ux.symfony.com/templates/ux_packages/live_component.html.twig
  ux.symfony.com/templates/ux_packages/map.html.twig
  ux.symfony.com/templates/ux_packages/package.html.twig
  ux.symfony.com/templates/ux_packages/stimulus.html.twig
  ux.symfony.com/templates/ux_packages/turbo.html.twig
  ux.symfony.com/templates/ux_packages/twig_component.html.twig
Labels: Status: Reviewed

#2484 [TwigComponent] Use promoted properties in code sample
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#2442 [Site] Upgrade PHP8.4 on psh
  ux.symfony.com/.platform.app.yaml
Labels: Status: Reviewed, Site

#2495 [Stimulus] Update Stimulus Components URL
  src/StimulusBundle/doc/index.rst
Labels: docs, Status: Reviewed, StimulusBundle

#2499 [Site] Add links to UX icons documentation
  ux.symfony.com/templates/icons/index.html.twig
Labels: Status: Needs Review, Site

#2503 [CI] Fix and display changed dist files in the CI
  .github/workflows/test.yaml
Labels: Status: Reviewed

#2504 [CI] Drop explicit Yarn dependencies caching steps for actions/setup-node
  .github/workflows/test.yaml
Labels: Status: Reviewed

#2501 [Doc] Add a warning message to not recommend Lazy Image package
  src/LazyImage/doc/index.rst
Labels: docs, Status: Reviewed, LazyImage

#2463 [Stimulus] Fasten lazy loading + add debug `lazy:loading` and `lazy:loaded`
  src/StimulusBundle/assets/dist/loader.js
  src/StimulusBundle/assets/src/loader.ts
Labels: Status: Needs Review, Feature, StimulusBundle, DX

#2507 [TwigComponent][Docs] add explicit string cast on string assertions
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#2510 [LiveComponent] Update doc on how to use submitForm
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Reviewed, LiveComponent, DX

#2491 [LiveComponent] Fix `ComponentWithFormTrait::extractFormValues()` with edge cases
  src/LiveComponent/src/ComponentWithFormTrait.php
  src/LiveComponent/tests/Fixtures/Form/FormWithManyDifferentFieldsType.php
  src/LiveComponent/tests/Functional/Form/ComponentWithFormTest.php
  src/LiveComponent/tests/Unit/Form/ComponentWithFormTest.php
Labels: Bug, Status: Reviewed, LiveComponent

#2524 [Turbo] Remove obselete Mercure configuration (docs)
  src/Turbo/doc/index.rst
Labels: docs, Feature, Turbo

#2513 [Docs][LiveComponent] Add very simple download files docs
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Needs Review, LiveComponent

#2506 [TwigComponent] Remove obsolete TemplateNameParser
  src/TwigComponent/src/Twig/ComponentNode.php
  src/TwigComponent/src/Twig/ComponentTokenParser.php
  src/TwigComponent/src/Twig/TemplateNameParser.php
  src/TwigComponent/tests/Unit/Twig/TemplateNameParserTest.php
Labels: Status: Reviewed, TwigComponent
