Repository symfony/ux, pull requests merged in 2025-08, with the labels that each got.

#2962 [Autocomplete] Fix Fixtures\Form missing base namespace
  src/Autocomplete/tests/Fixtures/Form/CategoryWithCallbackAsCustomValue.php
  src/Autocomplete/tests/Fixtures/Form/CategoryWithPropertyNameAsCustomValue.php
  src/Autocomplete/tests/Fixtures/Kernel.php
Labels: Status: Reviewed, Autocomplete

#2983 [Map] Allows Bridges JavaScript assets to be installed with `npm` when using `file:vendor/symfony/ux-*-map/assets`
  .github/workflows/app-tests.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/Map/src/Bridge/Google/assets/package.json
  src/Map/src/Bridge/Leaflet/assets/package.json
Labels: Bug, Status: Needs Review, Map

#2984 [Toolkit][CI] Improve CI workflows for linting Kits
  .github/workflows/toolkit-kits-code-quality.yaml
  .github/workflows/toolkit-kits-lint.yaml
  src/Toolkit/.twig-cs-fixer.dist.php
  src/Toolkit/composer.json
  src/Toolkit/kits/shadcn/templates/components/Alert.html.twig
  src/Toolkit/kits/shadcn/templates/components/Badge.html.twig
  src/Toolkit/kits/shadcn/templates/components/Button.html.twig
  src/Toolkit/kits/shadcn/templates/components/Separator.html.twig
Labels: Status: Needs Review, DX, Toolkit

#2985 [Swup] Remove package
  .github/workflows/unit-tests.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/Swup/.gitattributes
  src/Swup/.github/PULL_REQUEST_TEMPLATE.md
  src/Swup/.github/workflows/close-pull-request.yml
  src/Swup/.gitignore
  src/Swup/.symfony.bundle.yaml
  src/Swup/CHANGELOG.md
  src/Swup/LICENSE
  src/Swup/README.md
  src/Swup/assets/LICENSE
  src/Swup/assets/README.md
  src/Swup/assets/dist/controller.d.ts
  src/Swup/assets/dist/controller.js
  src/Swup/assets/package.json
  src/Swup/assets/src/controller.ts
  src/Swup/assets/src/index.d.ts
  src/Swup/assets/test/controller.test.ts
  src/Swup/composer.json
  src/Swup/doc/index.rst
  src/Swup/src/DependencyInjection/SwupExtension.php
  src/Swup/src/SwupBundle.php
  test_apps/encore-app/assets/controllers.json
  test_apps/encore-app/composer.json
  test_apps/encore-app/config/bundles.php
  test_apps/encore-app/package.json
  ux.symfony.com/assets/controllers.json
  ux.symfony.com/composer.json
  ux.symfony.com/composer.lock
  ux.symfony.com/config/bundles.php
  ux.symfony.com/importmap.php
  ux.symfony.com/src/Controller/UxPackagesController.php
  ux.symfony.com/src/Model/UxPackage.php
  ux.symfony.com/src/Service/UxPackageRepository.php
  ux.symfony.com/symfony.lock
  ux.symfony.com/templates/main/packages.html.twig
  ux.symfony.com/templates/ux_packages/swup.html.twig
  ux.symfony.com/tests/Functional/UxPackagesTest.php
  ux.symfony.com/tests/baseline-ignore
Labels: Status: Reviewed, Swup

#2993 [Typed] Remove package
  .github/workflows/unit-tests.yaml
  pnpm-lock.yaml
  src/Typed/.gitattributes
  src/Typed/.github/PULL_REQUEST_TEMPLATE.md
  src/Typed/.github/workflows/close-pull-request.yml
  src/Typed/.gitignore
  src/Typed/.symfony.bundle.yaml
  src/Typed/CHANGELOG.md
  src/Typed/LICENSE
  src/Typed/README.md
  src/Typed/assets/LICENSE
  src/Typed/assets/README.md
  src/Typed/assets/dist/controller.d.ts
  src/Typed/assets/dist/controller.js
  src/Typed/assets/package.json
  src/Typed/assets/src/controller.ts
  src/Typed/assets/test/controller.test.ts
  src/Typed/composer.json
  src/Typed/doc/Animation.gif
  src/Typed/doc/index.rst
  src/Typed/src/DependencyInjection/TypedExtension.php
  src/Typed/src/TypedBundle.php
  test_apps/encore-app/assets/controllers.json
  test_apps/encore-app/composer.json
  test_apps/encore-app/config/bundles.php
  test_apps/encore-app/package.json
  test_apps/encore-app/symfony.lock
  ux.symfony.com/assets/controllers.json
  ux.symfony.com/composer.json
  ux.symfony.com/composer.lock
  ux.symfony.com/config/bundles.php
  ux.symfony.com/importmap.php
  ux.symfony.com/src/Service/UxPackageRepository.php
  ux.symfony.com/symfony.lock
  ux.symfony.com/templates/ux_packages/typed.html.twig
  ux.symfony.com/tests/baseline-ignore
Labels: Status: Needs Review, Feature, Typed

#2995 [TogglePassword] Remove package
  .github/workflows/unit-tests.yaml
  pnpm-lock.yaml
  src/TogglePassword/.gitattributes
  src/TogglePassword/.github/PULL_REQUEST_TEMPLATE.md
  src/TogglePassword/.github/workflows/close-pull-request.yml
  src/TogglePassword/.gitignore
  src/TogglePassword/.symfony.bundle.yaml
  src/TogglePassword/CHANGELOG.md
  src/TogglePassword/LICENSE
  src/TogglePassword/README.md
  src/TogglePassword/assets/LICENSE
  src/TogglePassword/assets/README.md
  src/TogglePassword/assets/dist/controller.d.ts
  src/TogglePassword/assets/dist/controller.js
  src/TogglePassword/assets/dist/style.min.css
  src/TogglePassword/assets/package.json
  src/TogglePassword/assets/src/controller.ts
  src/TogglePassword/assets/src/style.css
  src/TogglePassword/assets/test/controller.test.ts
  src/TogglePassword/composer.json
  src/TogglePassword/doc/index.rst
  src/TogglePassword/doc/ux-toggle-password-animation.gif
  src/TogglePassword/phpunit.xml.dist
  src/TogglePassword/src/DependencyInjection/TogglePasswordExtension.php
  src/TogglePassword/src/Form/TogglePasswordTypeExtension.php
  src/TogglePassword/src/TogglePasswordBundle.php
  src/TogglePassword/templates/form_theme.html.twig
  src/TogglePassword/tests/Form/TogglePasswordTypeTest.php
  src/TogglePassword/tests/Kernel/TwigAppKernel.php
  src/TogglePassword/tests/Kernel/templates/toggle_password_form.html.twig
  src/TogglePassword/tests/TogglePasswordBundleTest.php
  src/TogglePassword/tests/baseline-ignore
  test_apps/encore-app/assets/controllers.json
  test_apps/encore-app/composer.json
  test_apps/encore-app/config/bundles.php
  test_apps/encore-app/package.json
  test_apps/encore-app/symfony.lock
  ux.symfony.com/assets/controllers.json
  ux.symfony.com/composer.json
  ux.symfony.com/composer.lock
  ux.symfony.com/config/bundles.php
  ux.symfony.com/src/Controller/UxPackage/TogglePasswordController.php
  ux.symfony.com/src/Form/TogglePasswordForm.php
  ux.symfony.com/src/Service/UxPackageRepository.php
  ux.symfony.com/symfony.lock
  ux.symfony.com/templates/ux_packages/toggle_password.html.twig
  ux.symfony.com/tests/baseline-ignore
Labels: Status: Needs Review, Feature, TogglePassword

#2992 [Icons][UX Icons] Update the links to some icon sets
  src/Icons/doc/index.rst
Labels: docs, Status: Reviewed, Icons

#2996 Update minimum required Symfony version to ^6.4
  .github/workflows/unit-tests.yaml
  src/Autocomplete/CHANGELOG.md
  src/Autocomplete/composer.json
  src/Chartjs/CHANGELOG.md
  src/Chartjs/composer.json
  src/Cropperjs/CHANGELOG.md
  src/Cropperjs/composer.json
  src/Dropzone/CHANGELOG.md
  src/Dropzone/composer.json
  src/Icons/CHANGELOG.md
  src/Icons/composer.json
  src/LiveComponent/CHANGELOG.md
  src/LiveComponent/composer.json
  src/Map/CHANGELOG.md
  src/Map/src/Bridge/Google/CHANGELOG.md
  src/Map/src/Bridge/Leaflet/CHANGELOG.md
  src/Notify/CHANGELOG.md
  src/Notify/composer.json
  src/React/CHANGELOG.md
  src/React/composer.json
  src/StimulusBundle/CHANGELOG.md
  src/StimulusBundle/composer.json
  src/Svelte/CHANGELOG.md
  src/Svelte/composer.json
  src/Toolkit/CHANGELOG.md
  src/Translator/CHANGELOG.md
  src/Translator/composer.json
  src/Turbo/CHANGELOG.md
  src/Turbo/composer.json
  src/TwigComponent/CHANGELOG.md
  src/TwigComponent/composer.json
  src/Vue/CHANGELOG.md
  src/Vue/composer.json
Labels: Status: Reviewed, Feature

#2999 Remove unnecessary checks for PHP <8.1 (in tests)
  src/LiveComponent/tests/Integration/LiveComponentHydratorTest.php
  src/TwigComponent/tests/Unit/ComponentAttributesTest.php
Labels: Bug, Status: Needs Review

#3000 [CI] Make the Windows CI green
  .github/workflows/unit-tests.yaml
  src/LiveComponent/tests/Functional/EventListener/LiveComponentSubscriberTest.php
  src/LiveComponent/tests/Integration/LiveComponentHydratorTest.php
  src/Toolkit/src/Kit/KitContextRunner.php
  src/Toolkit/tests/Command/InstallCommandTest.php
Labels: Status: Needs Review

#3003 Run latest PHP-CS-Fixer with improved configuration
  .php-cs-fixer.dist.php
  src/Autocomplete/src/Maker/MakeAutocompleteField.php
  src/Chartjs/tests/Kernel/TwigAppKernel.php
  src/Cropperjs/tests/Kernel/AppKernelTrait.php
  src/Dropzone/tests/Kernel/AppKernelTrait.php
  src/Icons/src/Command/SearchIconCommand.php
  src/Icons/tests/Integration/RenderIconsInTwigTest.php
  src/LazyImage/tests/BlurHash/BlurHashTest.php
  src/LazyImage/tests/Kernel/AppKernelTrait.php
  src/Map/tests/Kernel/AppKernelTrait.php
  src/Notify/tests/Kernel/TwigAppKernel.php
  src/React/src/AssetMapper/ReactControllerLoaderAssetCompiler.php
  src/React/tests/Kernel/TwigAppKernel.php
  src/StimulusBundle/src/AssetMapper/StimulusLoaderJavaScriptCompiler.php
  src/StimulusBundle/src/Twig/UxControllersTwigRuntime.php
  src/Svelte/src/AssetMapper/SvelteControllerLoaderAssetCompiler.php
  src/Svelte/tests/Kernel/TwigAppKernel.php
  src/TogglePassword/tests/Kernel/TwigAppKernel.php
  src/Toolkit/src/Command/CreateKitCommand.php
  src/Toolkit/src/Command/DebugKitCommand.php
  src/Toolkit/src/Command/InstallCommand.php
  src/Toolkit/tests/Command/CreateKitCommandTest.php
  src/Toolkit/tests/Functional/ComponentsRenderingTest.php
  src/Toolkit/tests/Kit/KitManifestTest.php
  src/Toolkit/tests/Recipe/RecipeManifestTest.php
  src/Translator/src/TranslationsDumper.php
  src/Translator/tests/Functional/DumpEnabledLocalesTest.php
  src/Translator/tests/Intl/IntlMessageParserTest.php
  src/Translator/tests/Kernel/AppKernelTrait.php
  src/Translator/tests/MessageParameters/Extractor/IntlMessageParametersExtractorTest.php
  src/Translator/tests/TranslationsDumperTest.php
  src/TwigComponent/src/Command/TwigComponentDebugCommand.php
  src/TwigComponent/src/DependencyInjection/Compiler/TwigComponentPass.php
  src/TwigComponent/tests/Integration/ComponentExtensionTest.php
  src/TwigComponent/tests/Unit/TwigPreLexerTest.php
  src/Vue/src/AssetMapper/VueControllerLoaderAssetCompiler.php
  src/Vue/tests/Kernel/TwigAppKernel.php
Labels: Status: Needs Review, DX

#2988 [LiveComponent] Fix new URL calculation with `LiveProp` using Serializer (and Serializer attributes), and when using custom modifier
  src/LiveComponent/src/DependencyInjection/LiveComponentExtension.php
  src/LiveComponent/src/EventListener/LiveUrlSubscriber.php
  src/LiveComponent/src/Metadata/LiveComponentMetadata.php
  src/LiveComponent/tests/Fixtures/Component/ComponentWithUrlBoundProps.php
  src/LiveComponent/tests/Fixtures/Dto/Address.php
  src/LiveComponent/tests/Functional/EventListener/AddLiveAttributesSubscriberTest.php
  src/LiveComponent/tests/Functional/EventListener/LiveUrlSubscriberTest.php
  src/LiveComponent/tests/Integration/LiveComponentHydratorTest.php
  src/LiveComponent/tests/Unit/EventListener/LiveUrlSubscriberTest.php
  src/LiveComponent/tests/Unit/Metadata/LiveComponentMetadataTest.php
Labels: Bug, Status: Needs Review, LiveComponent

#3005 Upgrade dev dependency doctrine/doctrine-bundle to ^2.14
  src/Autocomplete/composer.json
  src/Autocomplete/tests/Fixtures/Kernel.php
  src/LiveComponent/composer.json
  src/LiveComponent/tests/Fixtures/Kernel.php
  src/Turbo/composer.json
Labels: Bug, Status: Needs Review

#3036 [Map] Deprecate option `title` from `Polygon`, `Polyline`, `Rectangle` and `Circle` in favor of `infoWindow`
  package.json
  src/Map/CHANGELOG.md
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/doc/index.rst
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/tests/LeafletRendererTest.php
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with circles and infoWindows__1.txt
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with rectangles and infoWindows__1.txt
  src/Map/src/Circle.php
  src/Map/src/Polygon.php
  src/Map/src/Polyline.php
  src/Map/src/Rectangle.php
  src/Map/tests/CircleTest.php
  src/Map/tests/MapFactoryTest.php
  src/Map/tests/MapTest.php
  src/Map/tests/PolygonTest.php
  src/Map/tests/RectangleTest.php
Labels: Status: Needs Review, Feature, Map

#3038 [Map] Add E2E tests, close #3022
  src/Map/src/Bridge/Google/assets/test/browser/map.test.ts
  src/Map/src/Bridge/Google/assets/test/browser/map_controller.test.ts
  src/Map/src/Bridge/Leaflet/assets/test/browser/map.test.ts
  src/Map/src/Bridge/Leaflet/assets/test/browser/map_controller.test.ts
  test/playwright-helpers.ts
  test_apps/e2e-app/assets/icons/mdi/eiffel-tower.svg
  test_apps/e2e-app/assets/icons/mdi/glass-wine.svg
  test_apps/e2e-app/assets/react/controllers/Hello.jsx.ignore
  test_apps/e2e-app/assets/svelte/controllers/Hello.svelte.ignore
  test_apps/e2e-app/assets/vue/controllers/Hello.vue.ignore
  test_apps/e2e-app/config/packages/ux_map.yaml
  test_apps/e2e-app/importmap.php
  test_apps/e2e-app/src/Controller/MapController.php
  test_apps/e2e-app/src/Kernel.php
  test_apps/e2e-app/src/MapRenderer.php
  test_apps/e2e-app/templates/ux_map/index.html.twig
  test_apps/e2e-app/templates/ux_map/render_map.html.twig
Labels: Status: Reviewed, Map

#3037 [TwigComponent] Replace Twig comments with PHP comments
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#3049 [LiveComponent] Clean versionadded
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Reviewed, LiveComponent

#3054 [Map] Remove deprecations from Map
  src/Map/CHANGELOG.md
  src/Map/assets/dist/abstract_map_controller.d.ts
  src/Map/assets/dist/abstract_map_controller.js
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with circles and infoWindows__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with polygons and infoWindows__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with polylines and infoWindows__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with rectangles and infoWindows__1.txt
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with circles and infoWindows__1.txt
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with polygons and infoWindows__1.txt
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with polylines and infoWindows__1.txt
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with rectangles and infoWindows__1.txt
  src/Map/src/Circle.php
  src/Map/src/Polygon.php
  src/Map/src/Polyline.php
  src/Map/src/Rectangle.php
  src/Map/src/Twig/MapExtension.php
  src/Map/tests/CircleTest.php
  src/Map/tests/MapFactoryTest.php
  src/Map/tests/MapTest.php
  src/Map/tests/PolygonTest.php
  src/Map/tests/RectangleTest.php
Labels: Status: Needs Review, Feature, Map

#3055 Remove some indirect deprecations
  src/Chartjs/tests/Kernel/TwigAppKernel.php
  src/Cropperjs/tests/Kernel/FrameworkAppKernel.php
  src/Cropperjs/tests/Kernel/TwigAppKernel.php
  src/Dropzone/tests/Kernel/FrameworkAppKernel.php
  src/Dropzone/tests/Kernel/TwigAppKernel.php
  src/Icons/tests/Fixtures/TestKernel.php
  src/LazyImage/tests/Kernel/TwigAppKernel.php
  src/LiveComponent/tests/Fixtures/Kernel.php
  src/Map/src/Test/RendererTestCase.php
  src/Map/tests/Kernel/FrameworkAppKernel.php
  src/Map/tests/Kernel/TwigAppKernel.php
  src/Notify/tests/Kernel/TwigAppKernel.php
  src/React/tests/Kernel/TwigAppKernel.php
  src/StimulusBundle/tests/fixtures/StimulusTestKernel.php
  src/Svelte/tests/Kernel/TwigAppKernel.php
  src/TogglePassword/tests/Kernel/TwigAppKernel.php
  src/Toolkit/tests/Fixtures/Kernel.php
  src/TwigComponent/tests/Fixtures/Kernel.php
  src/Vue/tests/Kernel/TwigAppKernel.php
Labels: Bug, Status: Needs Review

#3053 [LiveComponent] Refactor and fix some edgecases on new URL generation with path + query LiveProps
  src/LiveComponent/src/DependencyInjection/LiveComponentExtension.php
  src/LiveComponent/src/EventListener/LiveUrlSubscriber.php
  src/LiveComponent/src/Metadata/LiveComponentMetadata.php
  src/LiveComponent/src/Util/UrlFactory.php
  src/LiveComponent/tests/Fixtures/Component/ComponentWithUrlBoundProps.php
  src/LiveComponent/tests/Fixtures/Kernel.php
  src/LiveComponent/tests/Functional/EventListener/AddLiveAttributesSubscriberTest.php
  src/LiveComponent/tests/Functional/EventListener/LiveUrlSubscriberTest.php
  src/LiveComponent/tests/Unit/Util/UrlFactoryTest.php
Labels: Bug, Status: Reviewed, LiveComponent

#3043 [LiveComponent] Fix BC Break when defining `LiveProp` properties with PHPDoc type and no-native type, when using TypeInfo
  src/LiveComponent/src/Metadata/LiveComponentMetadataFactory.php
  src/LiveComponent/tests/Fixtures/Dto/DummyUsingPhpDoc.php
  src/LiveComponent/tests/Fixtures/Enum/ColorEnum.php
  src/LiveComponent/tests/Integration/LiveComponentHydratorTest.php
Labels: Bug, Status: Reviewed, LiveComponent

#3040 [TwigComponent][UX3] Remove deprecations
  src/TwigComponent/src/CVA.php
  src/TwigComponent/src/ComponentAttributes.php
  src/TwigComponent/src/ComponentTemplateFinder.php
  src/TwigComponent/src/DependencyInjection/Compiler/TwigComponentPass.php
  src/TwigComponent/src/DependencyInjection/TwigComponentExtension.php
  src/TwigComponent/src/Event/PostMountEvent.php
  src/TwigComponent/src/Event/PreCreateForRenderEvent.php
  src/TwigComponent/src/Event/PreMountEvent.php
  src/TwigComponent/src/Twig/ComponentExtension.php
  src/TwigComponent/src/Twig/ComponentNode.php
  src/TwigComponent/tests/Fixtures/Kernel.php
  src/TwigComponent/tests/Integration/ComponentExtensionTest.php
  src/TwigComponent/tests/Integration/ComponentFactoryTest.php
  src/TwigComponent/tests/Unit/CVATest.php
  src/TwigComponent/tests/Unit/ComponentAttributesTest.php
  src/TwigComponent/tests/Unit/ComponentTemplateFinderTest.php
  src/TwigComponent/tests/Unit/DependencyInjection/TwigComponentExtensionTest.php
  src/TwigComponent/tests/Unit/Event/MountEventsTest.php
Labels: Status: Reviewed, Feature, TwigComponent
