Repository symfony/ux, pull requests merged in 2025-02, with the labels that each got.

#2541 [Autocomplete] Configurable results
  src/Autocomplete/CHANGELOG.md
  src/Autocomplete/src/AutocompleteResultsExecutor.php
  src/Autocomplete/src/EntityAutocompleterInterface.php
  src/Autocomplete/tests/Fixtures/Autocompleter/CustomAttributesProductAutocompleter.php
  src/Autocomplete/tests/Fixtures/Autocompleter/CustomProductAutocompleter.php
  src/Autocomplete/tests/Fixtures/Kernel.php
  src/Autocomplete/tests/Integration/AutocompleteResultsExecutorTest.php
  src/LiveComponent/tests/Functional/Test/InteractsWithLiveComponentsTest.php
  src/LiveComponent/tests/Unit/Form/ComponentWithFormTest.php
Labels: Status: Reviewed, Feature, Autocomplete, Status: Reviewing

#2517 [LiveComponent] Add Documentation for testing with LiveCollectionType
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Reviewed, LiveComponent, DX

#2530 [Docs][LiveComponent] Fix formatting of the inline code for the text RedirectResponse
  src/LiveComponent/doc/index.rst
Labels: Bug, docs, Status: Reviewed, LiveComponent

#2550 [Turbo] Add stream format with request listener
  src/Turbo/config/services.php
  src/Turbo/src/Request/RequestListener.php
  src/Turbo/src/TurboBundle.php
  src/Turbo/tests/Request/RequestListenerTest.php
  src/Turbo/tests/app/Kernel.php
Labels: Status: Reviewed, Feature, Turbo, Status: Reviewing

#2551 [Map] Add new helpers: DistanceUnit, DistanceCalculator, CoordinateUtils
  src/Map/CHANGELOG.md
  src/Map/src/Distance/DistanceCalculator.php
  src/Map/src/Distance/DistanceCalculatorInterface.php
  src/Map/src/Distance/DistanceUnit.php
  src/Map/src/Distance/HaversineDistanceCalculator.php
  src/Map/src/Distance/SphericalCosineDistanceCalculator.php
  src/Map/src/Distance/VincentyDistanceCalculator.php
  src/Map/src/Point.php
  src/Map/src/Utils/CoordinateUtils.php
  src/Map/tests/Distance/DistanceCalculatorTest.php
  src/Map/tests/Distance/DistanceUnitTest.php
  src/Map/tests/PointTest.php
  src/Map/tests/Utils/CoordinateUtilsTest.php
Labels: Status: Reviewed, Feature, Map

#2553 [LiveComponent] Fix ComponentWithFormTrait not working in batch actions
  src/LiveComponent/src/ComponentWithFormTrait.php
Labels: Bug, Status: Reviewed, LiveComponent

#2563 [CI] Fix links to changed dist files
  .github/generate-dist-files-size-diff.mjs
  .github/workflows/dist-files-size-diff.yaml
Labels: Status: Needs Review, DX

#2564 [CI] Fix dist files base/head informations
  .github/generate-dist-files-size-diff.mjs
  .github/workflows/dist-files-size-diff.yaml
Labels: Status: Needs Review, DX

#2562 [Map][Translator][Turbo] Ensure TypeScript code is valid
  bin/rollup.js
  package.json
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/package.json
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/assets/package.json
  src/Translator/assets/dist/formatters/formatter.d.ts
  src/Translator/assets/dist/formatters/intl-formatter.d.ts
  src/Translator/assets/dist/utils.d.ts
  src/Translator/assets/src/formatters/formatter.ts
  src/Translator/assets/src/formatters/intl-formatter.ts
  src/Translator/assets/src/utils.ts
  src/Turbo/assets/package.json
  yarn.lock
Labels: Bug, Status: Reviewed, Translator, Turbo, DX, Map

#2481 [Turbo] Document `<twig:Turbo:Stream:*>`
  src/Turbo/doc/index.rst
Labels: Status: Reviewed, Turbo

#2572 [TwigComponent] Fix ComponentTokenParser on 32-bits
  src/TwigComponent/src/Twig/ComponentTokenParser.php
Labels: Bug, Status: Reviewed, TwigComponent

#2470 [Autocomplete] Fix invalid createQueryBuilder code example
  src/Autocomplete/doc/index.rst
Labels: docs, Status: Needs Review, Autocomplete

#2591 [TwigComponent] Fix Twig 3.21 deprecations (getExpressionParser)
  src/TwigComponent/src/Twig/ComponentTokenParser.php
  src/TwigComponent/src/Twig/PropsTokenParser.php
Labels: Status: Needs Review, TwigComponent

#2594 [CI] Run tests on minimum-stability=dev too
  .github/workflows/test.yaml
Labels: Status: Reviewed, DX

#2599 fix missing }, reformat so it's visible
  src/StimulusBundle/doc/index.rst
Labels: docs

#2464 [TwigComponent] Minimal support of comment lines
  src/TwigComponent/src/Twig/TwigPreLexer.php
  src/TwigComponent/tests/Unit/TwigPreLexerTest.php
Labels: Status: Reviewed, Feature, TwigComponent, DX

#2597 [Doc][StimulusBundle] Misc doc fixes
  src/StimulusBundle/doc/index.rst
Labels: docs, Status: Reviewed, StimulusBundle

#2590 [StimulusBundle] Fix lazy load Stimulus controllers with Turbo
  src/StimulusBundle/assets/dist/loader.js
  src/StimulusBundle/assets/src/loader.ts
Labels: Bug, Status: Reviewed, StimulusBundle

#2603 Update index.rst
  src/Turbo/doc/index.rst
Labels: Status: Reviewed

#2609 [StimulusBundle] Add support for @​symfony/stimulus-bridge@​^4.0.0
  src/StimulusBundle/assets/package.json
  yarn.lock
Labels: Status: Reviewed, StimulusBundle

#2604 [Notify] Update image link for native notification example
  src/Notify/README.md
Labels: docs, Status: Reviewed, Notify

#2600 [Autocomplete] Rethrow `BadRequestHttpException` in case of malformed `extra_options`
  src/Autocomplete/src/Controller/EntityAutocompleteController.php
Labels: Bug, Status: Reviewed, Autocomplete

#2611 [Map] JavaScript package should not be added in user's package.json
  src/Map/CHANGELOG.md
  src/Map/assets/package.json
Labels: Bug, Status: Needs Review, Map

#2595 Normalize package.json files, to prepare publication on NPM
  src/Autocomplete/assets/LICENSE
  src/Autocomplete/assets/README.md
  src/Autocomplete/assets/package.json
  src/Chartjs/assets/LICENSE
  src/Chartjs/assets/README.md
  src/Chartjs/assets/package.json
  src/Cropperjs/assets/LICENSE
  src/Cropperjs/assets/README.md
  src/Cropperjs/assets/package.json
  src/Dropzone/assets/LICENSE
  src/Dropzone/assets/README.md
  src/Dropzone/assets/package.json
  src/LazyImage/assets/LICENSE
  src/LazyImage/assets/README.md
  src/LazyImage/assets/package.json
  src/LiveComponent/assets/LICENSE
  src/LiveComponent/assets/README.md
  src/LiveComponent/assets/package.json
  src/Map/assets/LICENSE
  src/Map/assets/README.md
  src/Map/assets/package.json
  src/Map/src/Bridge/Google/assets/package.json
  src/Map/src/Bridge/Leaflet/assets/package.json
  src/Notify/assets/LICENSE
  src/Notify/assets/README.md
  src/Notify/assets/package.json
  src/React/assets/LICENSE
  src/React/assets/README.md
  src/React/assets/package.json
  src/StimulusBundle/assets/LICENSE
  src/StimulusBundle/assets/README.md
  src/StimulusBundle/assets/package.json
  src/Svelte/assets/LICENSE
  src/Svelte/assets/README.md
  src/Svelte/assets/package.json
  src/Swup/assets/LICENSE
  src/Swup/assets/README.md
  src/Swup/assets/package.json
  src/TogglePassword/assets/LICENSE
  src/TogglePassword/assets/README.md
  src/TogglePassword/assets/package.json
  src/Translator/assets/LICENSE
  src/Translator/assets/README.md
  src/Translator/assets/package.json
  src/Turbo/assets/LICENSE
  src/Turbo/assets/README.md
  src/Turbo/assets/package.json
  src/Typed/assets/LICENSE
  src/Typed/assets/README.md
  src/Typed/assets/package.json
  src/Vue/assets/LICENSE
  src/Vue/assets/README.md
  src/Vue/assets/package.json
Labels: Status: Needs Review
