Repository symfony/ux, pull requests merged in 2025-05, with the labels that each got.

#2709 [StimulusBundle] Make the JS package private
  src/StimulusBundle/assets/README.md
  src/StimulusBundle/assets/package.json
Labels: Bug, Status: Needs Review, StimulusBundle

#2715 [StimulusBundle] Make the JS package private (for real)
  src/StimulusBundle/assets/package.json
Labels: Status: Needs Review, StimulusBundle

#2717 [ToolKit] Add missing Interface suffixes
  src/Toolkit/src/Asset/Component.php
  src/Toolkit/src/Dependency/ComponentDependency.php
  src/Toolkit/src/Dependency/DependencyInterface.php
  src/Toolkit/src/Dependency/PhpPackageDependency.php
  src/Toolkit/src/Dependency/StimulusControllerDependency.php
  src/Toolkit/src/Registry/GitHubRegistry.php
  src/Toolkit/src/Registry/LocalRegistry.php
  src/Toolkit/src/Registry/RegistryFactory.php
  src/Toolkit/src/Registry/RegistryInterface.php
Labels: Status: Reviewed, Toolkit

#2714 [Toolkit] Fix deprecation Kernel > 7.3
  src/Toolkit/tests/Fixtures/Kernel.php
Labels: Status: Reviewed, Toolkit

#2711 [Toolkit] Remove redundant code in Shadcn kit components
  src/Toolkit/kits/shadcn/templates/components/Alert.html.twig
  src/Toolkit/kits/shadcn/templates/components/Alert/Description.html.twig
  src/Toolkit/kits/shadcn/templates/components/Alert/Title.html.twig
  src/Toolkit/kits/shadcn/templates/components/AspectRatio.html.twig
  src/Toolkit/kits/shadcn/templates/components/Avatar.html.twig
  src/Toolkit/kits/shadcn/templates/components/Avatar/Image.html.twig
  src/Toolkit/kits/shadcn/templates/components/Avatar/Text.html.twig
  src/Toolkit/kits/shadcn/templates/components/Badge.html.twig
  src/Toolkit/kits/shadcn/templates/components/Breadcrumb/Ellipsis.html.twig
  src/Toolkit/kits/shadcn/templates/components/Breadcrumb/Item.html.twig
  src/Toolkit/kits/shadcn/templates/components/Breadcrumb/Link.html.twig
  src/Toolkit/kits/shadcn/templates/components/Breadcrumb/List.html.twig
  src/Toolkit/kits/shadcn/templates/components/Breadcrumb/Page.html.twig
  src/Toolkit/kits/shadcn/templates/components/Breadcrumb/Separator.html.twig
  src/Toolkit/kits/shadcn/templates/components/Button.html.twig
  src/Toolkit/kits/shadcn/templates/components/Card.html.twig
  src/Toolkit/kits/shadcn/templates/components/Card/Content.html.twig
  src/Toolkit/kits/shadcn/templates/components/Card/Description.html.twig
  src/Toolkit/kits/shadcn/templates/components/Card/Footer.html.twig
  src/Toolkit/kits/shadcn/templates/components/Card/Header.html.twig
  src/Toolkit/kits/shadcn/templates/components/Card/Title.html.twig
  src/Toolkit/kits/shadcn/templates/components/Checkbox.html.twig
  src/Toolkit/kits/shadcn/templates/components/Input.html.twig
  src/Toolkit/kits/shadcn/templates/components/Label.html.twig
  src/Toolkit/kits/shadcn/templates/components/Pagination.html.twig
  src/Toolkit/kits/shadcn/templates/components/Progress.html.twig
  src/Toolkit/kits/shadcn/templates/components/Select.html.twig
  src/Toolkit/kits/shadcn/templates/components/Separator.html.twig
  src/Toolkit/kits/shadcn/templates/components/Skeleton.html.twig
  src/Toolkit/kits/shadcn/templates/components/Switch.html.twig
  src/Toolkit/kits/shadcn/templates/components/Table.html.twig
  src/Toolkit/kits/shadcn/templates/components/Table/Body.html.twig
  src/Toolkit/kits/shadcn/templates/components/Table/Caption.html.twig
  src/Toolkit/kits/shadcn/templates/components/Table/Cell.html.twig
  src/Toolkit/kits/shadcn/templates/components/Table/Footer.html.twig
  src/Toolkit/kits/shadcn/templates/components/Table/Head.html.twig
  src/Toolkit/kits/shadcn/templates/components/Table/Header.html.twig
  src/Toolkit/kits/shadcn/templates/components/Table/Row.html.twig
  src/Toolkit/kits/shadcn/templates/components/Textarea.html.twig
Labels: Bug, Status: Reviewed, Toolkit

#2698 [Docs] Add step to disable `package.json` synchronization while upgrading PHP package
  src/Autocomplete/assets/README.md
  src/Chartjs/assets/README.md
  src/Cropperjs/assets/README.md
  src/Dropzone/assets/README.md
  src/LazyImage/assets/README.md
  src/LiveComponent/assets/README.md
  src/Map/src/Bridge/Google/assets/README.md
  src/Map/src/Bridge/Leaflet/assets/README.md
  src/Notify/assets/README.md
  src/React/assets/README.md
  src/Svelte/assets/README.md
  src/Swup/assets/README.md
  src/TogglePassword/assets/README.md
  src/Translator/assets/README.md
  src/Turbo/assets/README.md
  src/Typed/assets/README.md
  src/Vue/assets/README.md
Labels: docs, Status: Reviewed

#2724 [Toolkit] Minor adjustements on Kit creation command (reword questions, fix doc format)
  src/Toolkit/src/Command/CreateKitCommand.php
Labels: Status: Needs Review, Toolkit

#2725 [Toolkit] Remove Kit "authors"
  src/Toolkit/kits/shadcn/manifest.json
  src/Toolkit/src/Command/CreateKitCommand.php
  src/Toolkit/src/Command/DebugKitCommand.php
  src/Toolkit/src/Kit/Kit.php
  src/Toolkit/src/Kit/KitFactory.php
  src/Toolkit/tests/Command/DebugKitCommandTest.php
  src/Toolkit/tests/Fixtures/kits/with-circular-components-dependencies/manifest.json
  src/Toolkit/tests/Fixtures/kits/with-stimulus-controllers/manifest.json
  src/Toolkit/tests/Kit/KitTest.php
Labels: Status: Needs Review, Toolkit

#2728 [Toolkit] Improve descriptions of Shadcn components
  src/Toolkit/kits/shadcn/docs/components/Alert.md
  src/Toolkit/kits/shadcn/docs/components/AspectRatio.md
  src/Toolkit/kits/shadcn/docs/components/Avatar.md
  src/Toolkit/kits/shadcn/docs/components/Badge.md
  src/Toolkit/kits/shadcn/docs/components/Breadcrumb.md
  src/Toolkit/kits/shadcn/docs/components/Button.md
  src/Toolkit/kits/shadcn/docs/components/Card.md
  src/Toolkit/kits/shadcn/docs/components/Input.md
  src/Toolkit/kits/shadcn/docs/components/Label.md
  src/Toolkit/kits/shadcn/docs/components/Pagination.md
  src/Toolkit/kits/shadcn/docs/components/Progress.md
  src/Toolkit/kits/shadcn/docs/components/Select.md
  src/Toolkit/kits/shadcn/docs/components/Separator.md
  src/Toolkit/kits/shadcn/docs/components/Skeleton.md
  src/Toolkit/kits/shadcn/docs/components/Switch.md
  src/Toolkit/kits/shadcn/docs/components/Table.md
  src/Toolkit/kits/shadcn/docs/components/Textarea.md
Labels: Status: Needs Review, Toolkit

#2730 [LiveComponent] fix: `LiveComponentHydrator::hydrateValue()` cannot hydrate null values
  src/LiveComponent/CHANGELOG.md
  src/LiveComponent/src/LiveComponentHydrator.php
  src/LiveComponent/tests/Unit/LiveComponentHydratorTest.php
Labels: Status: Reviewed

#2735 [Toolkit] Update snapshots & fix tests, following #2728
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component AspectRatio, code 1__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component AspectRatio, code 2__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component AspectRatio, code 3__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Card, code 3__1.html
  src/Toolkit/tests/Kit/KitFactoryTest.php
Labels: Bug, Status: Needs Review, Toolkit

#2713 [TwigComponent] Fix `loadTemplate` deprecation for Twig >= 3.21
  src/TwigComponent/src/Twig/ComponentNode.php
Labels: Status: Reviewed, TwigComponent

#2739 [CI] Replace "workspace:*" dependencies before publishing on npm
  .github/workflows/release-on-npm.yaml
Labels: Bug, Status: Needs Review

#2745 [docs] fix Doctor RST warning about quotes
  src/Dropzone/doc/index.rst
  src/LazyImage/doc/index.rst
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Needs Review

#2749 Remove ComponentAttributeFactory and inject EscaperRuntime directly
  src/LiveComponent/composer.json
  src/LiveComponent/src/DependencyInjection/LiveComponentExtension.php
  src/LiveComponent/src/EventListener/AddLiveAttributesSubscriber.php
  src/LiveComponent/src/LiveComponentHydrator.php
  src/LiveComponent/src/Util/ChildComponentPartialRenderer.php
  src/LiveComponent/tests/Integration/LiveComponentHydratorTest.php
  src/LiveComponent/tests/Unit/LiveComponentHydratorTest.php
  src/TwigComponent/CHANGELOG.md
  src/TwigComponent/src/ComponentAttributes.php
  src/TwigComponent/src/ComponentAttributesFactory.php
  src/TwigComponent/src/ComponentFactory.php
  src/TwigComponent/src/DependencyInjection/TwigComponentExtension.php
  src/TwigComponent/src/Escaper/HtmlAttributeEscaperInterface.php
  src/TwigComponent/src/Escaper/TwigHtmlAttributeEscaper.php
  src/TwigComponent/tests/Unit/ComponentAttributesTest.php
  src/TwigComponent/tests/Unit/ComponentFactoryTest.php
  src/TwigComponent/tests/Unit/ComponentStackTest.php
  src/TwigComponent/tests/Unit/Escaper/TwigHtmlAttributeEscaperTest.php
  src/TwigComponent/tests/Unit/EventListener/TwigComponentLoggerListenerTest.php
Labels: Status: Reviewed, LiveComponent, TwigComponent

#2753 [Toolkit] Enforce symfony/ux-twig-component ^2.25.1
  src/Toolkit/composer.json
Labels: Bug, Status: Reviewed, Toolkit

#2757 [TwigComponent] Fix `ComponentAttributes` rendering when using `StimulusAttributes` as default attributes
  src/TwigComponent/CHANGELOG.md
  src/TwigComponent/src/ComponentAttributes.php
  src/TwigComponent/tests/Unit/ComponentAttributesTest.php
Labels: Bug, Status: Reviewed, TwigComponent

#2759 [CI] Configure Git username/email to github-actions[bot] when comitting version updates
  .github/workflows/release-on-npm.yaml
Labels: Bug, Status: Needs Review

#2758 Add missing DefaultActionTrait in a LiveComponent code example
  src/LiveComponent/doc/index.rst
Labels: Status: Reviewed

#2702 [StimulusBundle] Skip mapping .ts controller if .js version is available
  src/StimulusBundle/src/AssetMapper/ControllersMapGenerator.php
  src/StimulusBundle/tests/AssetMapper/ControllersMapGeneratorTest.php
  src/StimulusBundle/tests/AssetMapper/StimulusControllerLoaderFunctionalTest.php
  src/StimulusBundle/tests/fixtures/assets/more-controllers/excluded-controller.js
  src/StimulusBundle/tests/fixtures/assets/more-controllers/other-controller.ts
Labels: Bug, Status: Reviewed, StimulusBundle

#2734 [CI] Rework `tests-php` job matrix, better covers different PHP/SF versions, test all components in a single job
  .github/workflows/test-turbo.yml
  .github/workflows/test.yaml
  composer.json
Labels: Status: Reviewed

#2764 [CI] Re-organize workflows: split unit/functional/app tests, split code quality workflow, ...
  .github/workflows/.utils.sh
  .github/workflows/app-tests.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/dist-files-unbuilt.yaml
  .github/workflows/functional-tests.yml
  .github/workflows/test.yaml
  .github/workflows/toolkit-kits-code-quality.yaml
  .github/workflows/unit-tests.yaml
Labels: Status: Reviewed

#2006 [React] Improve error handling in `resolveReactComponent`
  src/React/CHANGELOG.md
  src/React/assets/dist/register_controller.js
  src/React/assets/src/register_controller.ts
  src/React/assets/test/register_controller.test.tsx
  src/React/doc/index.rst
Labels: Status: Reviewed, React

#2706 docs: remove oldest versionadded
  src/Autocomplete/doc/index.rst
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Reviewed, Autocomplete, LiveComponent

#2699 key is more reliable with child components
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Reviewed, LiveComponent

#2707 [StimulusBundle] Docs, replace `chart` examples by `hello` to avoid confusion with the ChartJS component
  src/StimulusBundle/doc/index.rst
Labels: docs, Status: Reviewed, StimulusBundle

#2723 [Icons] Check for empty paths before calling Finder in `ux:icons:lock`
  src/Icons/src/Twig/IconFinder.php
Labels: Bug, Status: Reviewed, Icons

#2729 [Twig] Improve Parser exceptions (minor)
  src/TwigComponent/src/Twig/ComponentTokenParser.php
  src/TwigComponent/tests/Integration/Twig/ComponentParserTest.php
Labels: Status: Reviewed, TwigComponent

#2744 [LiveComponent] `LiveProp`: Pass the property name as second parameter of the `modifier` callback
  src/LiveComponent/CHANGELOG.md
  src/LiveComponent/doc/index.rst
  src/LiveComponent/src/Metadata/LivePropMetadata.php
  src/LiveComponent/tests/Unit/Metadata/LivePropMetadataTest.php
Labels: Status: Reviewed, Feature, LiveComponent

#2763 [Map] add definition to after create events in controller
  src/Map/assets/dist/abstract_map_controller.js
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
Labels: Bug, Status: Reviewed, Map

#2771 [Map] Remove invalid marker icon example
  src/Map/doc/index.rst
Labels: docs, Status: Needs Review, Map

#2762 [Map] Add multipolygon support
  src/Map/CHANGELOG.md
  src/Map/assets/dist/abstract_map_controller.d.ts
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/doc/index.rst
  src/Map/src/Polygon.php
  src/Map/tests/PolygonTest.php
Labels: Status: Reviewed, Feature, Map

#2773 [Map] Add missing dependency for spatie/phpunit-snapshot-assertions to require-dev
  src/Map/composer.json
Labels: Status: Reviewed, Map

#2779 [Map] Optional leaflet tilelayer
  src/Map/src/Bridge/Leaflet/CHANGELOG.md
  src/Map/src/Bridge/Leaflet/README.md
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/src/LeafletOptions.php
  src/Map/src/Bridge/Leaflet/tests/LeafletOptionsTest.php
Labels: Status: Needs Review, Feature, Map

#2781 [Icons] Docs: Some typos
  src/Icons/doc/index.rst
Labels: docs, Status: Reviewed, Icons

#2788 [Icons] Docs: Removing broken link
  src/Icons/doc/index.rst
Labels: Status: Reviewed, Icons

#2789 [Icons] Docs: Fixing links to `symfony/ux-twig-component`
  src/Icons/doc/index.rst
Labels: Status: Reviewed, Icons

#2800 [Toolkit] Remove `FileType`
  src/Toolkit/src/File/File.php
  src/Toolkit/src/File/FileType.php
  src/Toolkit/src/Kit/KitContextRunner.php
  src/Toolkit/src/Kit/KitSynchronizer.php
  src/Toolkit/tests/Asset/ComponentTest.php
  src/Toolkit/tests/Asset/StimulusControllerTest.php
  src/Toolkit/tests/Command/DebugKitCommandTest.php
  src/Toolkit/tests/File/FileTest.php
  src/Toolkit/tests/Installer/PoolTest.php
  src/Toolkit/tests/Kit/KitFactoryTest.php
  src/Toolkit/tests/Kit/KitTest.php
Labels: Status: Needs Review, Toolkit

#2802 [Toolkit] Remove old `FileType` references
  src/Toolkit/src/Kit/KitContextRunner.php
  src/Toolkit/src/Kit/KitSynchronizer.php
  src/Toolkit/tests/Asset/ComponentTest.php
  src/Toolkit/tests/Asset/StimulusControllerTest.php
  src/Toolkit/tests/File/FileTest.php
  src/Toolkit/tests/Installer/PoolTest.php
  src/Toolkit/tests/Kit/KitFactoryTest.php
  src/Toolkit/tests/Kit/KitTest.php
Labels: Status: Needs Review, Toolkit

#2804 Add myself to Toolkit code-owners
  .github/CODEOWNERS
Labels: Status: Needs Review

#2803 [CI] Re-add PHP-CS-Fixer
  .github/workflows/code-quality.yaml
  src/LiveComponent/src/LiveComponentHydrator.php
  src/LiveComponent/src/Util/TypeHelper.php
  src/Map/src/Polygon.php
  src/Toolkit/src/File/ComponentMeta.php
  src/Toolkit/src/Kit/KitSynchronizer.php
Labels: Status: Reviewed
