Repository symfony/ux, pull requests merged in 2025-06, with the labels that each got.

#2809 [Typed] Deprecate the package
  src/Typed/CHANGELOG.md
  src/Typed/README.md
  src/Typed/composer.json
  src/Typed/doc/index.rst
  src/Typed/src/DependencyInjection/TypedExtension.php
  src/Typed/src/TypedBundle.php
  ux.symfony.com/phpunit.xml.dist
  ux.symfony.com/tests/baseline-ignore
Labels: Status: Reviewed, Feature, Typed, Deprecation

#2823 [LazyImage][Swup][Typed] Fix changelog version
  src/LazyImage/CHANGELOG.md
  src/Swup/CHANGELOG.md
  src/Typed/CHANGELOG.md
Labels: Status: Needs Review, LazyImage, Swup, Typed

#2828 [LiveComponent] Fix conflict with `symfony/type-info`
  src/LiveComponent/composer.json
Labels: Bug, Status: Needs Review, LiveComponent

#2829 [LiveComponent] Fix query string decoding with no `=`
  src/LiveComponent/assets/dist/live_controller.js
  src/LiveComponent/assets/src/url_utils.ts
  src/LiveComponent/assets/test/url_utils.test.ts
Labels: Bug, Status: Reviewed, LiveComponent

#2821 [LiveComponent] Optimize `LiveComponentStack::getCurrentLiveComponent()`
  src/LiveComponent/src/Util/LiveComponentStack.php
Labels: Bug, Status: Reviewed, LiveComponent, Performance

#2792 [Map] Add option to configure attribution and zoom control
  src/Map/src/Bridge/Leaflet/CHANGELOG.md
  src/Map/src/Bridge/Leaflet/README.md
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/src/LeafletOptions.php
  src/Map/src/Bridge/Leaflet/src/Option/AttributionControlOptions.php
  src/Map/src/Bridge/Leaflet/src/Option/ControlPosition.php
  src/Map/src/Bridge/Leaflet/src/Option/ZoomControlOptions.php
  src/Map/src/Bridge/Leaflet/tests/LeafletOptionsTest.php
  src/Map/src/Bridge/Leaflet/tests/Option/AttributionControlOptionsTest.php
  src/Map/src/Bridge/Leaflet/tests/Option/ZoomControlOptionsTest.php
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set markers with icons__1.txt
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set simple map__1.txt
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with all markers removed__1.txt
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with custom attributes__1.txt
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with marker remove and new ones added__1.txt
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with markers and infoWindows__1.txt
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with polygons and infoWindows__1.txt
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with polylines and infoWindows__1.txt
Labels: Status: Reviewed, Feature, Map

#2811 [Map] Do not override `fitBoundsToMarkers` when using LiveComponent
  src/Map/CHANGELOG.md
  src/Map/doc/index.rst
  src/Map/src/Map.php
Labels: Status: Reviewed, Feature, Map

#2836 [Site] Trim Icon's DataList's `<dd>` to get a better copy value
  ux.symfony.com/templates/components/DataList.html.twig
Labels: Bug, Status: Reviewed, Site

#2839 Fix `link` script by adding Bridges support
  link
Labels: Bug, Status: Needs Review

#2842 [CI] PHPStan: use PHP version from the matrix
  .github/workflows/code-quality.yaml
Labels: Status: Reviewed

#2841 [Autocomplete] Ensure default plugins are nicely merged with user-defined plugins
  src/Autocomplete/assets/dist/controller.js
  src/Autocomplete/assets/src/controller.ts
  src/Autocomplete/assets/test/controller.test.ts
Labels: Bug, Status: Reviewed, Autocomplete

#2851 [Tests] Configure `doctrine.orm.enable_native_lazy_objects` to fix deprecation in PHP 8.4+
  src/Autocomplete/tests/Fixtures/Kernel.php
  src/LiveComponent/tests/Fixtures/Kernel.php
Labels: Status: Needs Review, tests

#2852 [CI] Reduce number of PHPStan jobs
  .github/workflows/code-quality.yaml
Labels: Status: Needs Review

#2847 [Doc] Update the docs about nested Twig components
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#2843 [Doc] Update the docs about the mount() method of Twig components
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#2853 Prevent `yarn watch` to exit if TypeScript plugin is unable to compile
  bin/build_package.js
  bin/rollup.js
Labels: Bug, Status: Needs Review

#2854 [Map][Google] Fix race conditions when loading Google Maps API, when rendering >=2 maps
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
Labels: Bug, Status: Needs Review, Map

#2859 [Map] Minor improvements on TypeScript types
  src/Map/assets/dist/abstract_map_controller.d.ts
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/src/Bridge/Google/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
Labels: Status: Needs Review, Map

#2860 [Map] Deprecate property `rawOptions` from `ux:map:*:before-create` events, in favor of `bridgeOptions`
  src/Map/CHANGELOG.md
  src/Map/assets/dist/abstract_map_controller.d.ts
  src/Map/assets/dist/abstract_map_controller.js
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/doc/index.rst
  src/Map/src/Bridge/Google/CHANGELOG.md
  src/Map/src/Bridge/Google/README.md
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/README.md
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
Labels: Status: Needs Review, Feature, Map

#2863 [Map] Add `extra` data to `Map`
  src/Map/CHANGELOG.md
  src/Map/assets/dist/abstract_map_controller.d.ts
  src/Map/assets/dist/abstract_map_controller.js
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/doc/index.rst
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/tests/GoogleRendererTest.php
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with map extra data__1.txt
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/tests/LeafletRendererTest.php
  src/Map/src/Bridge/Leaflet/tests/__snapshots__/LeafletRendererTest__testRenderMap with data set with map extra data__1.txt
  src/Map/src/Circle.php
  src/Map/src/Map.php
  src/Map/src/Marker.php
  src/Map/src/Polygon.php
  src/Map/src/Polyline.php
  src/Map/src/Rectangle.php
  src/Map/tests/MapTest.php
Labels: Status: Needs Review, Feature, Map

#2870 [Translator][Tests] Minor fixes in tests context
  src/Translator/.gitignore
  src/Translator/src/TranslationsDumper.php
  src/Translator/tests/CacheWarmer/TranslationsCacheWarmerTest.php
Labels: Status: Needs Review, tests

#2873 [Tests] Fix functional tests Turbo (Chrome 137 & dev-tools)
  .github/workflows/functional-tests.yml
  src/Turbo/phpunit.xml.dist
Labels: Status: Needs Review, Turbo, tests

#2866 Migrate `bin/*.js` to TypeScript, use `tsx`
  bin/build_package.ts
  bin/rollup.js
  bin/rollup.ts
  package.json
  src/Autocomplete/assets/package.json
  src/Chartjs/assets/package.json
  src/Cropperjs/assets/package.json
  src/Dropzone/assets/package.json
  src/LazyImage/assets/package.json
  src/LiveComponent/assets/package.json
  src/Map/assets/package.json
  src/Map/src/Bridge/Google/assets/package.json
  src/Map/src/Bridge/Leaflet/assets/package.json
  src/Notify/assets/package.json
  src/React/assets/package.json
  src/StimulusBundle/assets/package.json
  src/Svelte/assets/package.json
  src/Swup/assets/package.json
  src/TogglePassword/assets/package.json
  src/Translator/assets/package.json
  src/Turbo/assets/package.json
  src/Typed/assets/package.json
  src/Vue/assets/package.json
  tsconfig.json
  tsconfig.packages.json
  yarn.lock
Labels: Status: Needs Review

#2876 Upgrade Rollup dependencies
  package.json
  yarn.lock
Labels: Status: Needs Review

#2877 Remove Babel dependencies
  package.json
  yarn.lock
Labels: Status: Needs Review

#2883 [Docs] Correct typo in Swup README.md
  src/Swup/README.md
Labels: docs, Status: Needs Review

#2884 [Icons] don't disable commands based on debug
  src/Icons/src/DependencyInjection/UXIconsExtension.php
Labels: Bug, Status: Reviewed, Icons
