Repository symfony/ux, pull requests merged in 2025-03, with the labels that each got.

#2612 Document `src/**/assets/README.md` files about direct installation and recommended alternatives.
  .github/workflows/test.yaml
  .github/workflows/ux.symfony.com.yaml
  src/Autocomplete/assets/README.md
  src/Chartjs/assets/README.md
  src/Cropperjs/assets/README.md
  src/Dropzone/assets/README.md
  src/LazyImage/assets/README.md
  src/LiveComponent/assets/README.md
  src/Map/assets/README.md
  src/Notify/assets/README.md
  src/React/assets/README.md
  src/StimulusBundle/assets/README.md
  src/Svelte/assets/README.md
  src/Swup/assets/README.md
  src/TogglePassword/assets/README.md
  src/Translator/assets/README.md
  src/Turbo/assets/README.md
  src/Typed/assets/README.md
  src/Vue/assets/README.md
Labels: docs, Status: Needs Review

#2613 [CI] Ensure JS packages (either from `vendor/` or npm versions) can be installed/used inside an Encore App
  .github/build-packages.php
  .github/workflows/test.yaml
  test_apps/encore-app/.env
  test_apps/encore-app/.env.dev
  test_apps/encore-app/.gitignore
  test_apps/encore-app/assets/app.js
  test_apps/encore-app/assets/bootstrap.js
  test_apps/encore-app/assets/controllers.json
  test_apps/encore-app/assets/controllers/csrf_protection_controller.js
  test_apps/encore-app/assets/controllers/hello_controller.js
  test_apps/encore-app/assets/icons/symfony.svg
  test_apps/encore-app/assets/react/controllers/Hello.jsx
  test_apps/encore-app/assets/styles/app.css
  test_apps/encore-app/assets/svelte/controllers/Hello.svelte
  test_apps/encore-app/assets/translator.js
  test_apps/encore-app/assets/vue/controllers/Hello.vue
  test_apps/encore-app/bin/console
  test_apps/encore-app/compose.override.yaml
  test_apps/encore-app/compose.yaml
  test_apps/encore-app/composer.json
  test_apps/encore-app/config/bundles.php
  test_apps/encore-app/config/packages/cache.yaml
  test_apps/encore-app/config/packages/csrf.yaml
  test_apps/encore-app/config/packages/framework.yaml
  test_apps/encore-app/config/packages/lazy_image.yaml
  test_apps/encore-app/config/packages/mercure.yaml
  test_apps/encore-app/config/packages/notifier.yaml
  test_apps/encore-app/config/packages/routing.yaml
  test_apps/encore-app/config/packages/translation.yaml
  test_apps/encore-app/config/packages/twig.yaml
  test_apps/encore-app/config/packages/twig_component.yaml
  test_apps/encore-app/config/packages/ux_map.yaml
  test_apps/encore-app/config/packages/ux_translator.yaml
  test_apps/encore-app/config/packages/validator.yaml
  test_apps/encore-app/config/packages/webpack_encore.yaml
  test_apps/encore-app/config/preload.php
  test_apps/encore-app/config/routes.yaml
  test_apps/encore-app/config/routes/framework.yaml
  test_apps/encore-app/config/routes/ux_autocomplete.yaml
  test_apps/encore-app/config/routes/ux_live_component.yaml
  test_apps/encore-app/config/services.yaml
  test_apps/encore-app/package.json
  test_apps/encore-app/public/index.php
  test_apps/encore-app/src/Controller/.gitignore
  test_apps/encore-app/src/Kernel.php
  test_apps/encore-app/symfony.lock
  test_apps/encore-app/templates/base.html.twig
  test_apps/encore-app/translations/.gitignore
  test_apps/encore-app/webpack.config.js
  test_apps/encore-app/yarn.lock
Labels: Status: Needs Review, DX

#2614 [CI] Refactor some steps in test-app-encore-app job
  .github/workflows/test.yaml
Labels: Status: Needs Review, DX

#2615 [CI] Add workflow to automatically publish JS packages on npm
  .github/workflows/release-on-npm.yaml
  .yarnrc.yml
Labels: Status: Needs Review, DX

#2616 [Map] Add missing README/LICENSE files for Map Bridges JS packages
  src/Map/src/Bridge/Google/assets/LICENSE
  src/Map/src/Bridge/Google/assets/README.md
  src/Map/src/Bridge/Leaflet/assets/LICENSE
  src/Map/src/Bridge/Leaflet/assets/README.md
Labels: docs, Status: Needs Review, Map

#2608 [LiveComponent] Move PropertyInfo to the require section
  src/LiveComponent/composer.json
Labels: Bug, Status: Reviewed, LiveComponent

#2587 [LiveComponent] Fix default select value with preferred choices
  src/LiveComponent/src/ComponentWithFormTrait.php
  src/LiveComponent/tests/Fixtures/Form/FormWithManyDifferentFieldsType.php
  src/LiveComponent/tests/Functional/Form/ComponentWithFormTest.php
  src/LiveComponent/tests/Unit/Form/ComponentWithFormTest.php
Labels: Bug, Status: Reviewed, LiveComponent

#2610 [LiveComponent] Document how to pass a value to an event listener from Twig.
  src/LiveComponent/doc/index.rst
Labels: Status: Reviewed, LiveComponent

#2626 [Site] Fix favicon.svg and mention "UX"
  ux.symfony.com/public/android-chrome-192x192.png
  ux.symfony.com/public/android-chrome-512x512.png
  ux.symfony.com/public/apple-touch-icon.png
  ux.symfony.com/public/favicon.ico
  ux.symfony.com/public/favicon.svg
Labels: Status: Needs Review, Site

#2631 [LiveComponent] Remove mention of deprecated annotation in docs
  src/LiveComponent/doc/index.rst
Labels: docs, Status: Needs Review, LiveComponent

#2617 Document about alternative JS assets installation with npm packages
  src/Autocomplete/assets/README.md
  src/Autocomplete/doc/index.rst
  src/Chartjs/assets/README.md
  src/Chartjs/doc/index.rst
  src/Cropperjs/assets/README.md
  src/Cropperjs/doc/index.rst
  src/Dropzone/assets/README.md
  src/Dropzone/doc/index.rst
  src/LazyImage/assets/README.md
  src/LazyImage/doc/index.rst
  src/LiveComponent/assets/README.md
  src/LiveComponent/doc/index.rst
  src/Map/assets/README.md
  src/Map/doc/index.rst
  src/Map/src/Bridge/Google/README.md
  src/Map/src/Bridge/Google/assets/README.md
  src/Map/src/Bridge/Leaflet/README.md
  src/Map/src/Bridge/Leaflet/assets/README.md
  src/Notify/assets/README.md
  src/Notify/doc/index.rst
  src/React/assets/README.md
  src/React/doc/index.rst
  src/StimulusBundle/assets/README.md
  src/Svelte/assets/README.md
  src/Svelte/doc/index.rst
  src/Swup/assets/README.md
  src/Swup/doc/index.rst
  src/TogglePassword/assets/README.md
  src/TogglePassword/doc/index.rst
  src/Translator/assets/README.md
  src/Translator/doc/index.rst
  src/Turbo/assets/README.md
  src/Turbo/doc/index.rst
  src/TwigComponent/doc/index.rst
  src/Typed/assets/README.md
  src/Typed/doc/index.rst
  src/Vue/assets/README.md
  src/Vue/doc/index.rst
Labels: docs, Status: Reviewed

#2634 [TwigComponent] Add OptionResolver namespace in doc example
  src/TwigComponent/doc/index.rst
Labels: docs, Status: Reviewed, TwigComponent

#2630 Add documentation check to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Reviewed

#2640 [Autocomplete] Add EnumType precision
  src/Autocomplete/doc/index.rst
Labels: Status: Reviewed, Autocomplete

#2605 [Map] Add Marker Icon customization capability
  src/Map/CHANGELOG.md
  src/Map/assets/dist/abstract_map_controller.d.ts
  src/Map/assets/dist/abstract_map_controller.js
  src/Map/assets/src/abstract_map_controller.ts
  src/Map/composer.json
  src/Map/config/services.php
  src/Map/doc/index.rst
  src/Map/src/Bridge/Google/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Google/composer.json
  src/Map/src/Bridge/Google/src/Renderer/GoogleRenderer.php
  src/Map/src/Bridge/Google/src/Renderer/GoogleRendererFactory.php
  src/Map/src/Bridge/Google/tests/GoogleRendererFactoryTest.php
  src/Map/src/Bridge/Google/tests/GoogleRendererTest.php
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/composer.json
  src/Map/src/Bridge/Leaflet/src/Renderer/LeafletRendererFactory.php
  src/Map/src/Bridge/Leaflet/tests/LeafletRendererFactoryTest.php
  src/Map/src/Bridge/Leaflet/tests/LeafletRendererTest.php
  src/Map/src/Icon/Icon.php
  src/Map/src/Icon/IconType.php
  src/Map/src/Icon/SvgIcon.php
  src/Map/src/Icon/UrlIcon.php
  src/Map/src/Icon/UxIcon.php
  src/Map/src/Icon/UxIconRenderer.php
  src/Map/src/Marker.php
  src/Map/src/Renderer/AbstractRenderer.php
  src/Map/src/Renderer/AbstractRendererFactory.php
  src/Map/tests/IconTest.php
  src/Map/tests/MapTest.php
  src/Map/tests/MarkerTest.php
Labels: Status: Reviewed, Feature, Map

#2638 [Map][Docs] Improve "Interact with the map" section
  src/Map/doc/index.rst
Labels: docs, Status: Reviewed, Map

#2645 Fix TwigComponents test when high-deps
  src/TwigComponent/tests/Integration/ComponentExtensionTest.php
  src/TwigComponent/tests/Integration/EmbeddedComponentTest.php
Labels: Status: Needs Review

#2649 Document and update CI for Corepack manual installation
  .github/workflows/release-on-npm.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
Labels: Status: Needs Review

#2618 [Turbo] Add Twig Extensions for `meta` tags
  src/Turbo/CHANGELOG.md
  src/Turbo/doc/index.rst
  src/Turbo/src/Twig/TwigExtension.php
Labels: Status: Needs Review, Feature, Turbo
