Repository symfony/ux, pull requests merged in 2025-10, with the labels that each got.

#3114 [Map] Add fitBoundsToMarkers option to Twig extension and component
  src/Map/CHANGELOG.md
  src/Map/doc/index.rst
  src/Map/src/Twig/MapRuntime.php
  src/Map/src/Twig/UXMapComponent.php
Labels: Documentation, Status: Reviewed, Feature, Map

#3118 [Map] Display warning when trying to define a custom icon for a `Marker` that already has an `Icon`
  src/Map/src/Bridge/Google/CHANGELOG.md
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/CHANGELOG.md
  src/Map/src/Bridge/Leaflet/assets/dist/map_controller.js
  src/Map/src/Bridge/Leaflet/assets/src/map_controller.ts
Labels: Status: Needs Review, Feature, Map

#3115 [Map][Google] Upgrade @googlemaps/js-api-loader to ^2.0
  UPGRADE-3.0.md
  pnpm-lock.yaml
  src/Map/src/Bridge/Google/CHANGELOG.md
  src/Map/src/Bridge/Google/README.md
  src/Map/src/Bridge/Google/assets/dist/map_controller.d.ts
  src/Map/src/Bridge/Google/assets/dist/map_controller.js
  src/Map/src/Bridge/Google/assets/package.json
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Google/src/Renderer/GoogleRenderer.php
  src/Map/src/Bridge/Google/src/Renderer/GoogleRendererFactory.php
  src/Map/src/Bridge/Google/tests/GoogleRendererFactoryTest.php
  src/Map/src/Bridge/Google/tests/GoogleRendererTest.php
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set markers with icons__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set simple map, with minimum options__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with all markers removed__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with circles and infoWindows__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with controls enabled__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with custom attributes__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with default map id overridden by option mapId__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with default map id, when passing options (except the mapId)__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with default map id__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with every options__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with map extra data__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with marker remove and new ones added__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with markers and infoWindows__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with polygons and infoWindows__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with polylines and infoWindows__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set with rectangles and infoWindows__1.txt
  src/Map/src/Bridge/Google/tests/__snapshots__/GoogleRendererTest__testRenderMap with data set without controls enabled__1.txt
Labels: Status: Reviewed, Feature, Map
