Repository symfony/ux, pull requests merged in 2025-07, with the labels that each got.

#2892 [Toolkit] Fix comptability with Windows
  src/Toolkit/src/Kit/KitSynchronizer.php
  src/Toolkit/tests/Command/DebugKitCommandTest.php
  src/Toolkit/tests/Command/InstallComponentCommandTest.php
Labels: Bug, Status: Needs Review, Toolkit

#2890 [Vue][React][Svelte] Fix components assets compilation on Windows server
  src/React/src/AssetMapper/ReactControllerLoaderAssetCompiler.php
  src/Svelte/src/AssetMapper/SvelteControllerLoaderAssetCompiler.php
  src/Vue/src/AssetMapper/VueControllerLoaderAssetCompiler.php
Labels: Bug, Status: Needs Review, React, Svelte, Vue

#2891 [LiveComponent] Update css to cover more data-loading use cases
  src/LiveComponent/assets/dist/live.min.css
  src/LiveComponent/assets/styles/live.css
Labels: Bug, Status: Reviewed, LiveComponent

#2893 [Site] Improve Package header on mobile
  ux.symfony.com/assets/styles/components/_DocsLink.scss
  ux.symfony.com/assets/styles/components/_TerminalCommand.scss
  ux.symfony.com/templates/components/Package/PackageHeader.html.twig
Labels: Bug, Status: Reviewed, Site

#2902 [Autocomplete] Force installation of CSS files for AssetMapper
  src/Autocomplete/assets/package.json
Labels: Bug, Status: Reviewed, Autocomplete

#2927 Fix typo CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs, Status: Needs Review

#2928 [Autocomplete] Upgrade Foundry to ^2.0
  src/Autocomplete/composer.json
  src/Autocomplete/tests/Fixtures/Factory/CategoryFactory.php
  src/Autocomplete/tests/Fixtures/Factory/CategoryTagFactory.php
  src/Autocomplete/tests/Fixtures/Factory/IngredientFactory.php
  src/Autocomplete/tests/Fixtures/Factory/ProductFactory.php
  src/Autocomplete/tests/Fixtures/Factory/ProductTagFactory.php
  src/Autocomplete/tests/Fixtures/Kernel.php
  src/Autocomplete/tests/Integration/Doctrine/EntityMetadataTest.php
  src/Autocomplete/tests/Integration/Doctrine/EntitySearchUtilTest.php
  src/LiveComponent/tests/Fixtures/Kernel.php
Labels: Status: Needs Review, Autocomplete

#2926 [LiveComponent] Add validation modifiers (min_length, max_length, min_value, max_value) to data-model inputs
  src/LiveComponent/CHANGELOG.md
  src/LiveComponent/assets/dist/Directive/get_model_binding.d.ts
  src/LiveComponent/assets/dist/dom_utils.d.ts
  src/LiveComponent/assets/dist/live_controller.js
  src/LiveComponent/assets/src/Directive/get_model_binding.ts
  src/LiveComponent/assets/src/dom_utils.ts
  src/LiveComponent/assets/src/live_controller.ts
  src/LiveComponent/assets/test/Directive/get_model_binding.test.ts
  src/LiveComponent/assets/test/controller/model.test.ts
  src/LiveComponent/assets/test/dom_utils.test.ts
  src/LiveComponent/doc/index.rst
Labels: Status: Reviewed, Feature, LiveComponent

#2931 Explicitly import Vitest APIs instead of relying on globals
  src/Autocomplete/assets/test/controller.test.ts
  src/Chartjs/assets/test/controller.test.ts
  src/Cropperjs/assets/test/controller.test.ts
  src/Dropzone/assets/test/controller.test.ts
  src/LazyImage/assets/test/controller.test.ts
  src/LiveComponent/assets/test/Backend/RequestBuilder.test.ts
  src/LiveComponent/assets/test/Component/index.test.ts
  src/LiveComponent/assets/test/ComponentRegistry.test.ts
  src/LiveComponent/assets/test/Directive/directives_parser.test.ts
  src/LiveComponent/assets/test/Directive/get_model_binding.test.ts
  src/LiveComponent/assets/test/Rendering/ChangingItemsTracker.test.ts
  src/LiveComponent/assets/test/Rendering/ElementChanges.test.ts
  src/LiveComponent/assets/test/Rendering/ExternalMutationTracker.test.ts
  src/LiveComponent/assets/test/UnsyncedInputContainer.test.ts
  src/LiveComponent/assets/test/Util/getElementAsTagText.test.ts
  src/LiveComponent/assets/test/ValueStore.test.ts
  src/LiveComponent/assets/test/controller/action.test.ts
  src/LiveComponent/assets/test/controller/basic.test.ts
  src/LiveComponent/assets/test/controller/child-model.test.ts
  src/LiveComponent/assets/test/controller/child.test.ts
  src/LiveComponent/assets/test/controller/dispatch-event.test.ts
  src/LiveComponent/assets/test/controller/emit.test.ts
  src/LiveComponent/assets/test/controller/error.test.ts
  src/LiveComponent/assets/test/controller/loading.test.ts
  src/LiveComponent/assets/test/controller/model.test.ts
  src/LiveComponent/assets/test/controller/poll.test.ts
  src/LiveComponent/assets/test/controller/query-binding.test.ts
  src/LiveComponent/assets/test/controller/render-with-external-changes.test.ts
  src/LiveComponent/assets/test/controller/render.test.ts
  src/LiveComponent/assets/test/dom_utils.test.ts
  src/LiveComponent/assets/test/normalize_attributes_for_comparison.test.ts
  src/LiveComponent/assets/test/string_utils.test.ts
  src/LiveComponent/assets/test/tools.ts
  src/LiveComponent/assets/test/url_utils.test.ts
  src/Map/assets/test/abstract_map_controller.test.ts
  src/Map/src/Bridge/Google/assets/test/map_controller.test.ts
  src/Map/src/Bridge/Leaflet/assets/test/map_controller.test.ts
  src/Notify/assets/test/controller.test.ts
  src/React/assets/test/register_controller.test.tsx
  src/React/assets/test/render_controller.test.tsx
  src/StimulusBundle/assets/test/loader.test.ts
  src/Svelte/assets/test/register_controller.test.ts
  src/Svelte/assets/test/render_controller.test.ts
  src/Swup/assets/test/controller.test.ts
  src/TogglePassword/assets/test/controller.test.ts
  src/Translator/assets/test/formatters/formatter.test.ts
  src/Translator/assets/test/formatters/intl-formatter.test.ts
  src/Translator/assets/test/translator.test.ts
  src/Translator/assets/test/utils.test.ts
  src/Turbo/assets/test/turbo_controller.test.ts
  src/Turbo/assets/test/turbo_stream_controller.test.ts
  src/Typed/assets/test/controller.test.ts
  src/Vue/assets/test/register_controller.test.ts
  src/Vue/assets/test/render_controller.test.ts
  test/setup.js
  tsconfig.json
  vitest.config.mjs
Labels: Status: Needs Review

#2932 Replace Yarn Berry by PNPM
  .github/workflows/app-tests.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/dist-files-unbuilt.yaml
  .github/workflows/release-on-npm.yaml
  .github/workflows/unit-tests.yaml
  .gitignore
  .nvmrc
  .yarnrc.yml
  CONTRIBUTING.md
  bin/test_package.sh
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/Autocomplete/assets/dist/controller.js
  src/Autocomplete/assets/package.json
  src/Chartjs/assets/package.json
  src/Cropperjs/assets/package.json
  src/Dropzone/assets/package.json
  src/LazyImage/assets/package.json
  src/LiveComponent/assets/package.json
  src/Map/assets/package.json
  src/Map/src/Bridge/Google/assets/package.json
  src/Map/src/Bridge/Google/assets/src/map_controller.ts
  src/Map/src/Bridge/Leaflet/assets/package.json
  src/Notify/assets/package.json
  src/React/assets/package.json
  src/React/assets/src/register_controller.ts
  src/StimulusBundle/assets/package.json
  src/Svelte/assets/package.json
  src/Svelte/assets/src/register_controller.ts
  src/Swup/assets/package.json
  src/TogglePassword/assets/package.json
  src/Translator/assets/package.json
  src/Turbo/assets/package.json
  src/Typed/assets/package.json
  src/Vue/assets/package.json
  src/Vue/assets/src/register_controller.ts
  test_apps/encore-app/.gitignore
  test_apps/encore-app/package.json
  test_apps/encore-app/pnpm-lock.yaml
  test_apps/encore-app/yarn.lock
  yarn.lock
Labels: Status: Reviewed

#2673 [LiveComponent] Add the possibility to map LiveProp as a path parameter
  src/LiveComponent/CHANGELOG.md
  src/LiveComponent/assets/dist/Backend/BackendResponse.d.ts
  src/LiveComponent/assets/dist/Component/plugins/QueryStringPlugin.d.ts
  src/LiveComponent/assets/dist/live_controller.d.ts
  src/LiveComponent/assets/dist/live_controller.js
  src/LiveComponent/assets/dist/url_utils.d.ts
  src/LiveComponent/assets/src/Backend/BackendResponse.ts
  src/LiveComponent/assets/src/Backend/RequestBuilder.ts
  src/LiveComponent/assets/src/Component/index.ts
  src/LiveComponent/assets/src/Component/plugins/QueryStringPlugin.ts
  src/LiveComponent/assets/src/live_controller.ts
  src/LiveComponent/assets/src/url_utils.ts
  src/LiveComponent/assets/test/Backend/RequestBuilder.test.ts
  src/LiveComponent/assets/test/controller/query-binding.test.ts
  src/LiveComponent/assets/test/tools.ts
  src/LiveComponent/assets/test/url_utils.test.ts
  src/LiveComponent/doc/index.rst
  src/LiveComponent/src/DependencyInjection/LiveComponentExtension.php
  src/LiveComponent/src/EventListener/LiveComponentSubscriber.php
  src/LiveComponent/src/EventListener/LiveUrlSubscriber.php
  src/LiveComponent/src/EventListener/RequestInitializeSubscriber.php
  src/LiveComponent/src/Metadata/LiveComponentMetadata.php
  src/LiveComponent/src/Metadata/UrlMapping.php
  src/LiveComponent/src/Util/RequestPropsExtractor.php
  src/LiveComponent/src/Util/UrlFactory.php
  src/LiveComponent/tests/Fixtures/Component/ComponentWithUrlBoundProps.php
  src/LiveComponent/tests/Fixtures/Kernel.php
  src/LiveComponent/tests/Fixtures/templates/components/component_with_url_bound_props.html.twig
  src/LiveComponent/tests/Functional/EventListener/AddLiveAttributesSubscriberTest.php
  src/LiveComponent/tests/Functional/EventListener/LiveUrlSubscriberTest.php
  src/LiveComponent/tests/Functional/EventListener/RequestInitializerSubscriberTest.php
  src/LiveComponent/tests/Functional/Util/RequestPropsExtractorTest.php
  src/LiveComponent/tests/Unit/EventListener/LiveUrlSubscriberTest.php
  src/LiveComponent/tests/Unit/Metadata/LiveComponentMetadataTest.php
  src/LiveComponent/tests/Unit/Util/UrlFactoryTest.php
Labels: Status: Reviewed, Feature, LiveComponent

#2939 [Icons] Fix `icon_sets` configuration documentation, follow #2938
  src/Icons/doc/index.rst
Labels: docs, Status: Needs Review, Icons

#2940 [Icons] Some fixes on LiveComponent assets
  pnpm-lock.yaml
  src/LiveComponent/assets/package.json
  src/LiveComponent/assets/src/live.css
  src/LiveComponent/assets/styles/live.css
Labels: Status: Needs Review, Icons

#2946 [Translator] Add functional test to ensure only enabled locales are dumped
  src/Translator/composer.json
  src/Translator/phpunit.xml.dist
  src/Translator/tests/Fixtures/translations/messages.en.yaml
  src/Translator/tests/Fixtures/translations/messages.es.yaml
  src/Translator/tests/Fixtures/translations/messages.fr.yaml
  src/Translator/tests/Functional/DumpEnabledLocalesTest.php
  src/Translator/tests/Kernel/FrameworkAppKernel.php
  src/Translator/tests/bootstrap.php
Labels: Status: Needs Review, Translator

#2948 [CI] Download only Chromium browser for Vitest/Playwright tests
  .github/workflows/unit-tests.yaml
Labels: Status: Needs Review

#2952 Fix package.json files to not use "catalog" feature from PNPM, as it breaks installation from `vendor/` PHP packages
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/Autocomplete/assets/package.json
  src/Chartjs/assets/package.json
  src/Cropperjs/assets/package.json
  src/Dropzone/assets/package.json
  src/LazyImage/assets/package.json
  src/LiveComponent/assets/package.json
  src/Map/assets/package.json
  src/Map/src/Bridge/Google/assets/package.json
  src/Map/src/Bridge/Leaflet/assets/package.json
  src/Notify/assets/package.json
  src/React/assets/package.json
  src/StimulusBundle/assets/package.json
  src/Svelte/assets/package.json
  src/Swup/assets/package.json
  src/TogglePassword/assets/package.json
  src/Translator/assets/package.json
  src/Turbo/assets/package.json
  src/Typed/assets/package.json
  src/Vue/assets/package.json
Labels: Bug, Status: Reviewed

#2954 [CI] Fix npm releases with pnpm
  .github/workflows/release-on-npm.yaml
Labels: Status: Needs Review

#2955 [CI] Add Fabbot as a GitHub Actions
  .github/workflows/fabbot.yaml
  src/Autocomplete/src/Form/AutocompleteEntityTypeSubscriber.php
  src/Autocomplete/src/Form/ChoiceList/Loader/ExtraLazyChoiceLoader.php
  src/Autocomplete/src/Form/ParentEntityAutocompleteType.php
  src/TwigComponent/src/CVA.php
  src/TwigComponent/src/Event/PreCreateForRenderEvent.php
Labels: Status: Reviewed

#2959 [Icons] Change `xmlns` attribute of downloaded icons to `http://www.w3.org/2000/svg`
  src/Icons/src/Iconify.php
  src/Icons/tests/Integration/RenderIconsInTwigTest.php
  src/Icons/tests/Unit/IconifyTest.php
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Alert, code 1__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Alert, code 2__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Alert, code 3__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Badge, code 6__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Breadcrumb, code 1__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Breadcrumb, code 2__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Breadcrumb, code 3__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Button, code 10__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Button, code 11__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Button, code 9__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Card, code 3__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Pagination, code 1__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Pagination, code 2__1.html
  src/Toolkit/tests/Functional/__snapshots__/ComponentsRenderingTest__testComponentRendering with data set Kit shadcn, component Pagination, code 3__1.html
Labels: Bug, Status: Reviewed, Icons

#2961 [LiveComponent] Fix LiveUrlSubscriber throw `MethodNotAllowed`
  src/LiveComponent/src/Util/UrlFactory.php
  src/LiveComponent/tests/Unit/Util/UrlFactoryTest.php
Labels: Bug, Status: Reviewed, LiveComponent
