Repository symfony/ux, pull requests merged in 2025-04, with the labels that each got.

#2674 [Map] Fix 2.23/2.24 changelog
  src/Map/CHANGELOG.md
Labels: Status: Reviewed, Map

#1853 [Notify] Added `options` to Notification
  src/Notify/CHANGELOG.md
  src/Notify/assets/dist/controller.d.ts
  src/Notify/assets/dist/controller.js
  src/Notify/assets/src/controller.ts
Labels: Status: Reviewed, Feature, Notify

#2661 [Icons] Add xmlns attribute to svg icons
  src/Icons/CHANGELOG.md
  src/Icons/src/Iconify.php
  src/Icons/tests/Integration/RenderIconsInTwigTest.php
  src/Icons/tests/Unit/IconifyTest.php
Labels: Status: Reviewed, Feature, Icons

#2447 [Turbo] Pass EventSource options to `turbo_stream_listen`
  src/Turbo/CHANGELOG.md
  src/Turbo/assets/dist/turbo_stream_controller.d.ts
  src/Turbo/assets/dist/turbo_stream_controller.js
  src/Turbo/assets/src/turbo_stream_controller.ts
  src/Turbo/config/services.php
  src/Turbo/doc/index.rst
  src/Turbo/src/Bridge/Mercure/TurboStreamListenRenderer.php
  src/Turbo/src/DependencyInjection/Compiler/RegisterMercureHubsPass.php
  src/Turbo/src/DependencyInjection/TurboExtension.php
  src/Turbo/src/TurboBundle.php
  src/Turbo/src/Twig/TurboRuntime.php
  src/Turbo/src/Twig/TurboStreamListenRendererInterface.php
  src/Turbo/src/Twig/TurboStreamListenRendererWithOptionsInterface.php
  src/Turbo/src/Twig/TwigExtension.php
  src/Turbo/tests/Bridge/Mercure/TurboStreamListenRendererTest.php
  src/Turbo/tests/Compiler/RegisterMercureHubsPassTest.php
Labels: Status: Reviewed, Feature, Turbo

#2679 [CI] Fix version bump for npm packages
  .github/workflows/release-on-npm.yaml
Labels: Bug, Status: Reviewed

#2687 [CI] Use git diff instead of git status
  .github/workflows/test.yaml
Labels: Status: Reviewed

#2691 Add .editorconfig, enforce LF line-ending style
  .editorconfig
  .gitattributes
  src/Autocomplete/assets/dist/controller.js
  src/Svelte/assets/test/fixtures/MyComponent.svelte
Labels: Status: Reviewed

#2692 [Turbo] Minor documentation syntax fixes
  src/Turbo/doc/index.rst
Labels: docs, Status: Reviewed, Turbo

#2685 [CI] Adjust tags to "v2.*.*" for NPM auto-releases
  .github/workflows/release-on-npm.yaml
Labels: Status: Reviewed

#2678 [Icons] improve DX when `symfony/http-client` is not installed
  src/Icons/CHANGELOG.md
  src/Icons/config/iconify.php
  src/Icons/config/services.php
  src/Icons/doc/index.rst
  src/Icons/src/Command/WarmCacheCommand.php
  src/Icons/src/DependencyInjection/UXIconsExtension.php
  src/Icons/src/Exception/HttpClientNotInstalledException.php
  src/Icons/src/IconCacheWarmer.php
  src/Icons/src/Iconify.php
  src/Icons/src/Registry/ChainIconRegistry.php
  src/Icons/src/Registry/IconifyOnDemandRegistry.php
  src/Icons/tests/Unit/IconifyTest.php
Labels: Status: Reviewed, Feature, Icons

#2654 [LiveComponent] Add uid support for hydration
  src/LiveComponent/CHANGELOG.md
  src/LiveComponent/composer.json
  src/LiveComponent/src/LiveComponentHydrator.php
  src/LiveComponent/tests/Integration/LiveComponentHydratorTest.php
Labels: Status: Reviewed, Feature, LiveComponent

#2694 [Turbo] Pass `turbo_stream_listen` topics to mercure if not defined
  src/Turbo/src/Bridge/Mercure/TurboStreamListenRenderer.php
Labels: Bug, Status: Reviewed, Turbo

#2627 [LiveComponent] Fix default option extraction ignores Translatable #2621
  src/LiveComponent/CHANGELOG.md
  src/LiveComponent/src/ComponentWithFormTrait.php
Labels: Bug, Status: Reviewed, LiveComponent

#2663 [Autocomplete] Escape `querySelector` dynamic selector with `CSS.escape()`
  src/Autocomplete/CHANGELOG.md
  src/Autocomplete/assets/dist/controller.js
  src/Autocomplete/assets/src/controller.ts
Labels: Bug, Status: Reviewed, Autocomplete
